*~
*.pyc
*.db
.DS_Store
local_settings.py
reports
test-tmp
.project
.pydevproject
.settings
.deps
*.o
*.cache
*.log
*.status
stamp-h1
xdiff
xdiff-config.h
*.out
*.diff
media/images/emails/*.jpg
django.pid
lighttpd.pid
lighttpd/
opt/
._*
venv
/storage/*
/misc/tools/generateMeta/test/
/misc/tools/generateMeta/out2b/
/misc/tools/generateMeta/out1/
.idea/
# temporary
.travis.yml
storage/*
lock/*
/test
/test2b
/metashare/test-tmp/
