*~
*.pyc
*.db
.DS_Store
local_settings.py
reports
test-tmp
.project
.pydevproject
.settings
.deps
*.o
*.cache
*.log
*.status
stamp-h1
xdiff
xdiff-config.h
*.err
*.out
*.diff
media/images/emails/*.jpg
django.pid
lighttpd.pid
lighttpd/
opt/
._*
venv
# temporary
.travis.yml
metashare/contributions_data/*
metashare/tmx_management/settings.py
metashare/tmp/*
metashare/edelivery/files/*
metashare/static-files/
solr/*.err
solr/*.out
README_MORE.md
README_VIC.md
metashare/accounts/django_migrations/
metashare/repository/django_migrations/
metashare/storage/django_migrations/
metashare/stats/django_migrations/
metashare/recommendations/django_migrations/
po_files*.zip
metashare/processed/*
metashare/unprocessed/*
metashare/static/metashare/licences/*
elri_resources/language_resources/
docker/
.idea/
