/* This file can be used to override any CSS rules from base.css, */
/* as well as define new formatting rules. */

/* ******************* */
/* Overriding base.css */
/* ******************* */

/* banner */

@media screen and (max-width: 991px) {
    .cef-image img {
        width: 50%;
    }
}

@media screen and (min-width: 992px) {
    .cef-image img {
        width: 80%;
    }
}

@media screen and (max-width: 999px) {
    #jsddmdiv {
        margin-top: 0px;
    }
}

@media screen and (min-width: 1000px) {
    #jsddm {
        display: flex;
    }
}

body {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

#container {
    top: 19px;
}

#header {
    height: 94px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1001;
    margin: 0px 0px 0px 0px;
    background: #fff;
    border-bottom: 1px solid #000;
    overflow: visible;
}

#container > div:nth-child(2) {
    margin-top: 75px;
}

div#inner {
    width: 100%;
    margin: auto;
    text-align: center;
    float: left;
}

div.popup {
    font-weight: bold;
    padding: 3px;
    display: none;
    position: absolute;
    background-color: #999999;
    color: white;

    height: 25px;
    width: 160px;

    font-size: 16px;
    text-shadow: 0px -1px 1px #333333;
    text-align: center;

    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    z-index: 20;

}

div.popup img {
    position: absolute;
    top: -13px;
    left: 33px;
}

div.inner_box a, img.inner {
    float: left;
    padding-left: 20px;
}

a span.desc {
    display: none;
}

a:hover span.desc {
    font-weight: bold;
    padding: 2px;
    display: inline-block;
    position: absolute;
    left: 1%;
    background-color: #999999;
    color: white;
    font-size: 11px;
    text-align: center;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    z-index: 20;
}

.icon {
    padding-top: 4px;
}

div#header a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

.topright {
    display: block;
    background-image: url(../../metashare/images/button_top_bg2.png);
    background-repeat: repeat-x;
    border: none;
    width: 70px;
    height: 20px;
    margin-top: 12px;
    padding-top: 2px;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    white-space: nowrap;
    font-family: 'TitilliumText', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    text-shadow: 0px -1px 1px #FF9900;
    color: white;
    font-size: 12px;
}

a:hover .topright {
    background-image: url(../../metashare/images/button_top_bg.png);
    text-decoration: none;
}

/* banner end */

.module h2, .module caption, .inline-group h2 {
    /*background: -moz-linear-gradient(center top , #FFCC00, #FF6633) repeat scroll 0 0 transparent;*/
}

.module h2 {
    background: #058DBE;
    background: -moz-linear-gradient(top, #2BA7D5, #058DBE);
    background: -webkit-gradient(linear, left top, left bottom, from(#2BA7D5), to(#058DBE));
    filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#FFCC00', startColorstr='#FF6633', gradientType=0);
}

.inline-group h2, .form-row h2 {
    background: url("../img/admin/default-bg.gif") repeat-x scroll left top #7CA0C7;
}

div.form-row.distributionInfo > div.field-box, div.form-row.usageInfo > div.field-box, div.form-row.audioSizeInfo > div.field-box {

    border-style: solid;
    border-color: #CCC;
    border-width: 1px;
    padding-left: 4px;
    padding-top: 2px;
}

.module .inline-group {
    margin: 10px;
}

/* ******************* */
/* Editor-specific CSS */
/* ******************* */

/* menu styles */
div.jsddm {
    margin-top: 64px;
    margin-left: 20px;
    position: relative;
}

#jsddm {
    /*margin-top: 94px;*/
    padding: 0;
    position: relative;
}

#jsddm li {
    float: left;
    list-style: none;
    font: 12px Tahoma, Arial;
}

#jsddm li a {
    display: block;
    border: none;
    padding: 5px 12px;
    text-decoration: none;
    white-space: nowrap;
    font-family: Arimo, Arial, sans-serif;
    font-weight: bold;
    color: #000 !important;
    font-size: 12px;
    -moz-transition: background 200ms linear;
    -ms-transition: background 200ms linear;
    -o-transition: background 200ms linear;
    transition: background 200ms linear;
}

#jsddm li a:hover {
    border-bottom: 2px solid #058dbe;
    color: #058dbe !important;
    padding-bottom: 3px;
    text-decoration: none;
    -webkit-transition: background 200ms linear;
    -moz-transition: background 200ms linear;
    -ms-transition: background 200ms linear;
    -o-transition: background 200ms linear;
    transition: background 200ms linear;
}

/*#jsddm  > li:hover ul li {*/
/*height:26px;*/
/*}*/

#jsddm li ul {
    margin-top: 0;
    padding: 0;
    position: absolute;
    z-index: 1000;
    visibility: hidden;
}

#jsddm li ul li {
    float: none;
    display: inline;
}

#jsddm li ul li a {
    width: auto;
    background-color: #f8f8f8;
    opacity: .94;
    color: white;
    text-decoration: none;
    text-shadow: none !important;

}

#jsddm li ul li a:hover {
    /*background-color:#ffd500;*/
    color: #058dbe !important;
    text-decoration: none;
    text-shadow: none !important;
}

.display_none {
    display: none;
}

.fields {
    width: 216px;
    margin-bottom: 8px;
    background-color: #dbdbdb;
    margin-left: 9px;

}

.fields ul {
    padding: 0;
}

/* *********************** */
/* JQueryTabs-specific CSS */
/* *********************** */

.accordion ul {
    display: inline;
    margin: 0 0 0 0;
}

.accordion li {
    display: inline;
}

.accordion li a {
    display: block;
    padding: 4px 4px 4px 4px;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    /*background-color: #eee;*/
    border: none;
    outline: none;
    margin-top: 0px;
    margin-bottom: 0px;
}

.accordion a:link, a:visited {
    color: #2c2b2b !important;
}

.accordion li a:hover {
    background-color: #ccc;
    padding: 4px 4px 4px 4px;
}

.accordion li.active a {

    background-color: #bdb4b4;
    padding: 4px 4px 4px 4px;
    border-right: none;
}

.accordion li.active a:hover {
    background-color: #bbb;
    padding: 4px 4px 4px 4px;
    border-right: none;
}

#tabs_container {
    float: left;
    margin-right: 15px;
}

#tabs_content_container {
    padding: 10px 10px 10px 10px;
    margin: 0 10px 0 10px;
}

.submit-row {
    clear: both;
}

.tab_content {
    display: none;
}

a.error {
    color: red;
}

/* *********************** */
/* Accordion-specific CSS */
/* *********************** */
.accordion h1 {
    width: 215px;
    font-size: 13px;
    margin: 0px 0 8px 0px;
    color: #000 !important;
    font-weight: bold;
    padding: 5px;
    background-color: #dbdbdb;
}

.accordion h1 a:link {
    color: #2c2b2b;
}

.accordion {
    width: 19em;
}

.customtitle {
    /*display: inline;*/
}

h1.customtitle {
    display: inline;
}

h2.help_link {
    /*display: inline;*/
}

.distance-div {
    margin-top: 20px;
}

.buttons {
    margin-top: 20px;
}

.resource-group, .resource-group th, .resource-group tr, .resource-group td {
    border-style: solid;
    border-color: #CCC;
    border-width: 1px;
}

div.split {
    background-image: url(../../metashare/images/trenner02.png);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;
    height: 50px;
    margin-top: 0px;
    margin-bottom: 00px;
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
}

#container > div:last-child {
    margin-bottom: 10px;
}

div#footer {
    height: 10px;
    width: 827px;
    text-align: center;
    text-shadow: 0px 1px white;
    font-weight: 600;
    color: #8e8e8e;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 120px;
    bottom: 0;
    clear: both;
}

img.throbber {
    background-image: url(../img/admin/throbber_16.gif);
    /*background-repeat: no-repeat;*/
}

div#footer a {
    text-decoration: none;
    color: #058dbe;
}

div#footer a:hover {
    text-decoration: underline;
}

ul.related_resources {
    max-height: 8ex;
    margin: 0 0 0 0.75em;
}

input.ui-state-not-found {
    background: #FF8888;
}

.results a:link, a:visited {
    color: #3f5a80 !important;
    text-decoration: none;
}

.resourceTypeTitle {
    line-height: 170%;
    font-size: 14px;
    color: #058dbe;
    font-weight: bold;
    text-align: justify;
    text-justify: inter-word;
}

.resourceTypeExplanation ul li ul li {
    line-height: 170%;
    font-size: 12px;
    text-align: justify;
    text-justify: inter-word;
}

.resourceTypeExplanation ul li {
    line-height: 170%;
    font-size: 12px;
    text-justify: inter-word;
}

.object-tools-select {
    font-size: 12px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 0;
    float: right;
    position: relative;
    margin-top: -20px;
    margin-bottom: -2em;
    margin-right: 2%;
}

.object-tools
