@media screen and (max-width: 991px) {
    .cef-image img {
        width: 50%;
    }
}

@media screen and (min-width: 992px) {
    .cef-image img {
        width: 80%;
    }
}

@media screen and (max-width: 999px) {
    #jsddmdiv {
        margin-top: 0px;
    }
}

@media screen and (min-width: 1000px) {
    #jsddm {
        display: flex;
    }
}

div.container {
    margin-top: 80px;
    width: 100%;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* banner */

#header {
    height: 94px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1001;
    margin: 0px 0px 0px 0px;
    background: #fff;
    border-bottom: 1px solid #000;
}

/* make sure that any clicked anchor targets appear below our fixed header */
.anchor {
    display: block;
    height: 65px; /* same height as #header */
    margin-top: -65px; /* same height as #header */
    visibility: hidden;
}

div#inner {
    width: 100%;
    margin: auto;
    text-align: center;
    float: left;
}

div.popup {
    font-weight: bold;
    padding: 3px;
    display: none;
    position: absolute;
    background-color: #999999;
    color: white;

    height: 25px;
    width: 160px;

    font-size: 16px;
    text-shadow: 0px -1px 1px #333333;
    text-align: center;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    z-index: 20;

}

div.popup img {
    position: absolute;
    top: -13px;
    left: 33px;
}

div.inner_box a, img.inner {
    float: left;
    padding-left: 20px;
}

img.inner {
    padding-top: 5px;
    height: 25px;
    width: 200px;
}

a span.desc {
    display: none;
}

a:hover span.desc {
    font-weight: bold;
    padding: 2px;
    display: inline-block;
    position: absolute;
    left: 1%;
    background-color: #999999;
    color: white;
    font-size: 11px;
    text-align: center;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    z-index: 20;
}

.icon {
    padding-top: 4px;
}

.middle_button {
    background-color: #058dbe;
    border: none;
    display: block;
    margin-top: 7px;
    height: 26px;
    width: auto;
    color: white;
    font-size: 16px !important;
    text-decoration: none;
}

.euLogin {
    background-color: #ffd500;
    border: none;
    display: block;
    margin-top: 7px;
    height: 26px;
    color: #000;
    font-size: 16px !important;
    text-decoration: none;
    width: 18%;
}

.euLogin:hover {
    background-color: #058dbe;
    color: #fff;
    transition: background 200ms linear;
}

.middle_button:hover {
    background-color: #ffd500;
    color: #333333 !important;
    transition: background 200ms linear;
}

.middle_gray_button {
    background-image: url(../images/button_top_gray_bg.png);
    background-repeat: repeat-x;
    border: none;
    display: block;
    margin-top: 7px;
    height: 26px;
    width: 130px;
    color: white;
    font-size: 16px !important;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.middle_gray_button:hover {
    background-image: url(../images/button_top_gray_bg2.png);

}

.big_button {
    background-color: #058dbe;
    color: #fff;
    border: none;
    display: block;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin-top: 2px;
    padding-top: 4px;
    height: 49px;
    width: 150px;
    text-decoration: none;
}

.big_button:hover {
    background-color: #ffd500;
    color: #333333 !important;
    -webkit-transition: background 200ms linear;
    -moz-transition: background 200ms linear;
    -ms-transition: background 200ms linear;
    -o-transition: background 200ms linear;
    transition: background 200ms linear;
}

button.search_hover {
    background-image: url(../images/button_bg2.png);
}

.topright {

    display: block;
    background-image: url(../images/button_top_bg2.png);
    background-repeat: repeat-x;
    border: none;
    width: 70px;
    height: 20px;
    margin-top: 12px;
    padding-top: 2px;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    white-space: nowrap;
    font-family: 'TitilliumText', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    text-shadow: 0px -1px 1px #FF9900;
    color: white;
    font-size: 12px;
}

a:hover .topright {
    background-image: url(../images/button_top_bg.png);
    text-decoration: none;
}

div#header a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

/* banner end */

input {
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 5px;
}

input.big_input {
    height: 36px;
    margin-top: 19px;
}

input.middle_input {
    height: 50px;
}

/* cfedermann patches */

div.content_box table tbody tr td {
    vertical-align: top;
    min-height: 18px;
    color: #999999;
    font-size: 10.5pt;
    max-width: 1000px;
}

#content #messages {
    text-align: center;
}

#content #messages p {
    font-size: 1.2em;
    padding: 5px;
    /*padding-left: 4px;*/
    display: inline-block;
    margin-top: -70px;
}

.warning {
    border: 2px solid;
    border-color: #c8bd00;
    background-color: #f8ea9f;
}

.help_text {
    font-size: 10pt;
    color: #999999;
    font-style: italic;
}

form.form_helper td input,
form.form_helper td select,
form.form_helper td textarea {
    color: #999999;
    border: solid 1px #999999;
    padding: 3px;
}

form.form_helper td input:focus,
form.form_helper td select:focus,
form.form_helper td textarea:focus {
    -webkit-box-shadow: inset 0 0 0 #99CCFF;
    -moz-box-shadow: inset 0 0 0 #99CCFF;
    box-shadow: inset 0 0 0 #99CCFF;
}

form.form_helper td input.button, form.form_helper td input.button:focus {
    border: none;
    color: white;
}

form.form_helper th, form.form_helper td {
    vertical-align: top;
}

form.form_helper td input {
    margin-top: 5px;
}

/* Marc Schroeder, 9 August 2011: Deactivating the hiding code: */
/*
 * form.form_helper td ul {
 *     display:none;
 *     }
 *     */

form.form_helper div.component_left {
    margin-top: 5px;
    height: 18px;
    padding-left: 10px;
    min-width: 100px;
    font-size: 14px;
    background-color: #666666;
    color: white;
    text-align: right;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 4px;
    float: right;
    font-weight: 600;
    border-top-left-radius: 1em;
    -moz-border-radius-topleft: 1em;
    -webkit-border-top-left-radius: 1em;

    border-bottom-left-radius: 1em;
    -moz-border-radius-bottomleft: 1em;
    -webkit-border-bottom-left-radius: 1em;
}

form.form_helper div.component_right {
    margin-top: 5px;
    height: 18px;
    padding-left: 10px;
    min-width: 100px;
    font-size: 14px;
    background-color: #666666;
    color: white;
    text-align: left;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 4px;
    float: left;
    font-weight: 600;
    border-top-right-radius: 1em;
    -moz-border-radius-topright: 1em;
    -webkit-border-top-right-radius: 1em;

    border-bottom-right-radius: 1em;
    -moz-border-radius-bottomright: 1em;
    -webkit-border-bottom-right-radius: 1em;
}

form.form_helper label.required {
    background-color: #666666;
}

form.form_helper label.missing {
    background-color: red;
}

form.form_helper label {
    margin-top: 5px;
    height: 18px;
    padding-left: 10px;
    min-width: 100px;
    font-size: 14px;
    background-color: #fff;
    color: #000;
    text-align: right;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 4px;
    float: right;
    font-weight: 600;
    border-top-left-radius: 1em;
    -moz-border-radius-topleft: 1em;
    -webkit-border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    -moz-border-radius-bottomleft: 1em;
    -webkit-border-bottom-left-radius: 1em;
}

/* cfedermann patches end */

form.form_helper tr.required th label::before {
    content: "*";
    color: red;
}

form.form_helper tr.error th label {
    background-color: red;
}

form.form_helper > label {
    width: 40%;
    float: left;
    text-align: right;
    margin-top: 3px;
}

form.form_helper > label + input {
    width: 56%;
    float: right;
    margin: 0;
}

form.form_helper > input[type=checkbox] {
    margin-left: 40%
}

form.form_helper > input + label {
    width: 56%;
    float: right;
    text-align: left;
    background: none;
    color: black;
    padding: 0;
}

form.form_helper > div {
    clear: both;
    height: 3ex;
}

form.form_helper ul.errorlist {
    clear: both;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    color: #FF6633;
    text-align: right;
}

form.form_helper tr.error {
    background: white;
}

/* profile editor stuff */

form.form_helper tr td textarea {
    background-image: url("../images/bg_search.png");
    background-repeat: repeat-x;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 1px 1px #CCCCCC;
    width: 400px;
    height: 150px;
    padding: 5px;
    font-size: 16px;
}

form.form_helper tr td input {
    width: 400px;
    font-size: 16px;
}

form.form_helper td.readonly {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #999999;
    font-size: 16px;
}

/* Marc Schroeder end */

/* license */

div.text_label {
    margin-top: 5px;
    height: 18px;
    width: 100px;
    font-size: 14px;
    background-color: #CCCCCC;
    color: white;
    text-align: right;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 4px;
    float: right;
    font-weight: 600;
    border-top-left-radius: 1em;
    -moz-border-radius-topleft: 1em;
    -webkit-border-top-left-radius: 1em;

    border-bottom-left-radius: 1em;
    -moz-border-radius-bottomleft: 1em;
    -webkit-border-bottom-left-radius: 1em;
}

div.text_content {
    font-size: 16px;
    color: #666666;
    line-height: 2.0;
}

div.bold_text {
    font-weight: 600;
}

div.text_header {
    margin-top: 40px;
    margin-bottom: 5px;
}

/* license end */

/*filters separate box*/
div.left_box {
    width: 28%;
    position: relative;
    float: left;
    display: block;
}

/*end filters separate box*/

div.content_box {

    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 20px 20px 20px 20px;
    -webkit-box-shadow: 0px 3px 10px #CCCCCC, 1px 3px 5px #CCCCCC, -1px 3px 5px #CCCCCC;
    -moz-box-shadow: 0px 3px 10px #CCCCCC, 1px 3px 5px #CCCCCC, -1px 3px 5px #CCCCCC;
    box-shadow: 0px 3px 10px #CCCCCC, 1px 3px 5px #CCCCCC, -1px 3px 5px #CCCCCC;
}

/*expandable filters*/
div.accordion a {

    min-height: 18px;
    color: #999999;
    font-size: 9pt;
    font-weight: bold;
    max-width: 1000px;
}

div.accordion.collapsed a:before {
    content: " " url(sexybuttons/images/icons/silk/bullet_arrow_right.png);
    vertical-align: top;
}

div.accordion.expanded a:before {
    content: " " url(sexybuttons/images/icons/silk/bullet_arrow_down.png);
    vertical-align: top;
}

div.accordion {
    background-color: #eee;
    padding: 4px 4px 4px 4px;
    width: 100%;
    margin: .9em 0 .3em 0;
    color: #777;
    border-radius: 0 10px 10px 0;
}

div.subresult {
    margin-left: 10px;
    width: 100%;
    padding: 0 0 0 0;
    background-color: #fff;
}

div.subresult a {
    font-size: 8pt;
}

div.subitem {
    width: 300px;
    margin-left: 10px;
}

div.filter.sub {
    margin-left: 10px;
    padding-left: 6px;
}

div a.addableFacet.subfacet:before {
    content: " " url(sexybuttons/images/icons/silk/bullet_right.png);
}

div a.removableFacet.subfacet:before {
    content: " " url(sexybuttons/images/icons/silk/bullet_minus.png);
}

div.filter {
    overflow: hidden;
}

div.accordion.selected {
    background-color: #ddd;
}

div.filter div {
    width: 250px;
}

div.filter_box {
    vertical-align: top;
    position: relative;
    font-size: 9pt;
    height: 100%;
    width: 250px;
    float: left;
}

div.filter_box > h4 {
    margin-bottom: 0.5em;
}

a.addableFacet:before {
    content: " " url(sexybuttons/images/icons/silk/bullet_plus.png);
    vertical-align: top;
}

a.removableFacet:before {
    content: " " url(sexybuttons/images/icons/silk/bullet_minus.png);
    vertical-align: top;
}

#searchFilters div {
    margin-top: 0.25em;
    font-size: 11.5px;
}

/*end expandable filters*/
#licence_sel_form > ul {
    list-style: none outside;
}

#licence_sel_form > ul > li {
    margin: .5em 0;
}

#licence_sel_form > ul > li > div + div {
    margin-left: 2em;
}

#licence_sel_form > ul > li > div + div p, #licence_sel_form > ul > li > div + div ul {
    margin: 0;
}

a.sexybutton {
    text-align: center;
}

body {
    overflow-x: hidden;
}

div.teaser_box {
    height: 350px;
    vertical-align: middle;
}

div.teaser_box div {
    height: 100%;
}

div#content {
    height: 100%;
    min-height: 500px;
    width: 70%;
    margin: 100px auto 0;
}

.gradient_orange {
    background: #FF6633;
    background: -moz-linear-gradient(top, #FFCC00, #FF6633);
    background: -webkit-gradient(linear, left top, left bottom, from(#FFCC00), to(#FF6633));
    filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#FFCC00', startColorstr='#FF6633', gradientType=0);
}

.gradient_black {
    background: #000000;
    background: -moz-linear-gradient(top, #999999, #000000);
    background: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#000000));
    filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#999999', startColorstr='#000000', gradientType=0);
}

div.split {
    background-image: url(../images/trenner02.png);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;
    height: 50px;
    margin-top: 0px;
    margin-bottom: 00px;
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
}

div.attribution {
    display: block;
    font-size: 12px;
    background: #cde8f2;
    color: #000;
    font-weight: normal;
    padding: 1%;
    margin-bottom: 21px;
}

div.citation {
    display: block;
    background: #D1D1D1;
    font-size: 12px;
    color: #000;
    padding: 1%;
    margin-bottom: 1%;
}

div.citation span, div.citation label, div.citation label a {
    font-size: 1em;
    font-size: 12px;
}

div.citation label a {
    font-size: 1em;
    font-size: 12px;
}

/*table width*/
table.result_table {
    width: 800px;
}

/*end table width*/

table.result_table tr.result_table_head {
    text-shadow: 0px 1px 1px white;
    font-size: 12px;
    color: #999999;
    font-weight: 200;

    background-image: url(../images/table_bg.png);
    background-repeat: repeat-x;
}

table.result_table tr.result_table_head a.sortAsc:after {
    content: "\a0" url(sexybuttons/images/icons/silk/bullet_arrow_down.png);
    vertical-align: middle;
}

table.result_table tr.result_table_head a.sortDesc:after {
    content: "\a0" url(sexybuttons/images/icons/silk/bullet_arrow_up.png);
    vertical-align: middle;
}

table.result_table td, th {
    padding-left: 30px;
    vertical-align: top;
}

table.result_table tbody tr {
    color: #666666;
    font-weight: 200;
    font-size: 12px;
}

table.result_table tbody th {
    color: #666666;
    font-weight: 800;
}

table.result_table tr {
    background-color: white;
}

table.result_table tr.odd {
    background-color: #EFF;
    background-repeat: repeat-x;
}

/* menu styles */
div.jsddm {
    margin-top: 64px;
    margin-left: 20px;
    position: relative;
}

#jsddm {
    /*margin-top: 94px;*/
    padding: 0;
    position: relative;
}

#jsddm li {
    float: left;
    list-style: none;
    font: 12px Tahoma, Arial;
}

#jsddm li a {
    display: block;
    border: none;
    padding: 5px 12px;
    text-decoration: none;
    white-space: nowrap;
    font-family: Arimo, Arial, sans-serif;
    font-weight: bold;
    color: #000 !important;
    font-size: 12px;
    -moz-transition: background 200ms linear;
    -ms-transition: background 200ms linear;
    -o-transition: background 200ms linear;
    transition: background 200ms linear;
}

#jsddm li a:hover {
    border-bottom: 2px solid #058dbe;
    color: #058dbe !important;
    padding-bottom: 3px;
    text-decoration: none;
    -webkit-transition: background 200ms linear;
    -moz-transition: background 200ms linear;
    -ms-transition: background 200ms linear;
    -o-transition: background 200ms linear;
    transition: background 200ms linear;
}

/*#jsddm  > li:hover ul li {*/
/*height:28px;*/
/*}*/

#jsddm li ul {
    margin-top: 0;
    padding: 0;
    z-index: 10;
    position: absolute;
    visibility: hidden;
}

#jsddm li ul li {
    float: none;
    display: inline;
    /*height:0;*/
    /*-webkit-transition:height 200ms ease-in;*/
    /*-moz-transition:height 200ms ease-in;*/
    /*-o-transition:height 200ms ease-in;*/
    /*transition:height 200ms ease-in;*/
}

#jsddm li ul li a {
    width: auto;
    background-color: #f8f8f8;
    opacity: .94;
    color: white;
    text-decoration: none;
    text-shadow: none !important;

}

#jsddm li ul li a:hover {
    /*background-color:#ffd500;*/
    color: #058dbe !important;
    text-decoration: none;
    text-shadow: none !important;
}

.display_none {
    display: none;
}

#search {
    height: 80px;
    width: 70%;
    margin: 0 auto;
}

#search #search_button {
    padding-top: 16px;
}

.big_button_search {
    font-size: 2.3em;
    background-color: #fff;
    color: #000;
    border: none;
    display: block;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    padding-top: 12px;
    text-decoration: none;
}

.big_button_search:hover {
    cursor: pointer;
    margin-top: -4px;
    font-size: 2.8em;
    color: #058dbe !important;
    -webkit-transition: background 200ms linear;
    -moz-transition: background 200ms linear;
    -ms-transition: background 200ms linear;
    -o-transition: background 200ms linear;
    transition: background 200ms linear;
}

#messages {
    position: relative;
    top: 71px;
}
