.overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.uploadWin {
    display: none;
    position: fixed;
    top: 50%;
    left: 30%;
    margin: 0 auto;
    width: 40%;
    height: auto;
    padding: 16px;
    border: 1px solid;
    background-color: white;
    z-index: 11;
    /*overflow: auto;*/
}

.progress {
    position: relative;
    width: 400px;
    border: 1px solid #ddd;
    padding: 1px;
    border-radius: 3px;
    top: 10%;
    margin: 0 auto;
}

.bar {
    background-color: #059dd2;
    width: 0%;
    height: 20px;
    border-radius: 3px;
}

.percent {
    position: absolute;
    display: inline-block;
    top: 2px;
    line-height: 1;
    left: 48%;
}

.form-group.required label:after {
    content: "*";
    color: red;
    font-size: 1.3em;
}

.failure {
    text-align: center;
    width: 100%;
    margin: 10px auto;
    padding: 5px;
    border-radius: 5px;
    background: #eee445
}

.success {
    text-align: center;
    width: 100%;
    margin: 10px auto;
    padding: 3px;
    border-radius: 5px;
}

.succeded {
    text-align: center;
    width: 100%;
    margin: 10px auto;
    padding: 3px;
    border-radius: 5px;
    background: #6abb60
}

.failed {
    text-align: center;
    width: 100%;
    margin: 10px auto;
    padding: 5px;
    border-radius: 5px;
    background: #eee445
}

#okbtn{
    width:10%;
    margin:0 auto;
    display: block!important;
}

#ok {
    color: #fff;
}

.contrib-help{
    font-size: 15px;
}
