{% extends "admin/base_site.html" %}
{% load i18n admin_modify %}
{% load url from future %}

{% block extrahead %}{{ block.super }}
    {% url 'admin:jsi18n' as jsi18nurl %}
    <script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>

    {{ media }}
{% endblock %}

{% block breadcrumbs %}
    {% include "breadcrumbs.html" %}
{% endblock %}

{% block content %}
    <h3>Set IPR clearing status for the following resource{{ selected_resources|pluralize }}:</h3>
    <div class="distance-div">
        <table class='resource-group'>
            <tr>
                <th>Resource{{ selected_resources|pluralize }}</th><th>IPR Clearing Status</th>
            </tr>
            {% for resource in selected_resources %}
                <tr>
                    <td>{{ resource }}</td><td>{{ resource.ipr_clearing }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class='distance-div'>
        <form method="post" action="{{ path }}">{% csrf_token %}
            <table>
                {{ form }}
            </table>
            <div class='distance-div'>
                <input type="hidden" name="action" value="{{ action }}"/>
                <input type="submit" name="{{ action }}" value="Set"/>
                <input type="submit" name="cancel" value="Cancel"/>
            </div>
        </form>
    </div>
{% endblock content %}