server {
    gzip            on;
    gzip_types      text/plain application/xml text/css;
    gzip_min_length 1000;
    gzip_static     on;
    server_tokens   off;
    listen          80;
    server_name     {{ .Env.ELRI_HOSTNAME }}.{{ .Env.ELRI_DOMAINNAME }};
    rewrite         ^/$ /elri/ permanent;

    location / {
        proxy_pass http://elri-node1:8000/;
        proxy_redirect http://elri-node1:8000/ http://{{ .Env.ELRI_HOSTNAME }}.{{ .Env.ELRI_DOMAINNAME }}/;
    }
}