{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h1 id="main-content" style="font-size: 20pt; line-height:150%; margin: '20px 0px 20px 0px'; font-weight: normal; color:#111; display:block; margin-block-start: 0.83em; margin-block-end: 0.83em; margin-inline-start:0px; margin-inline-end:0px;">{% blocktrans %}Permission Denied (403){% endblocktrans %}</h1>
<div class="content_box">
{% if request.msg %}
  <p>{{ request.msg }}</p>
{% else %}
  <p>{% blocktrans %}You don't have the sufficient rights to access this resource.{% endblocktrans %}</p>
{% endif %}
</div>
{% endblock %}
