{% extends "base.html" %}
{% load email_protection %}
{% load get_email %}
{% load i18n %}

{% block content %}
<h2>{% blocktrans %}Page not Found (404){% endblocktrans %}</h2>
<div class="content_box">
<p>{% trans "We&rsquo;re sorry, but the URL you requested was not found." %}</p>
{% url 'metashare.accounts.views.contact' as the_node_maintainers %}
{% get_email 'elri-nrs-support' as email %}
<p>{% blocktrans  %}Please try again and, if the error persists, contact the ELRI NRS support group (<a href="mailto:{{ email }}" >{{ email }}</a>).{% endblocktrans %}</p>
</div>
{% endblock %}
