{% extends "base.html" %}
{% load email_protection %}
{% load i18n %}

{% block content %}
<h2>{% blocktrans %}Internal Server Error (500){% endblocktrans %}</h2>
<div class="content_box">
<p>{% blocktrans %}We&rsquo;re sorry, but an internal error occurred when processing your request.{% endblocktrans %}</p>
{% url 'metashare.accounts.views.contact' as the_node_maintainers %}
<p>{% blocktrans  %}Please try again and, if the error persists, contact the ELRI NRS support group (<a href="mailto:elri-nrs-support@vicomtech.org" >elri-nrs-support@vicomtech.org</a>).{% endblocktrans %}</p>
</div>
{% endblock %}
