{% load i18n %}
<div class="back" style="margin-top: 20px">
        <div style="width: 100% !important; height:300px; text-align: center; background-image: url('{{ STATIC_URL }}metashare/images/Artboard1Bannerazul.png'); background-position: center; background-repeat: no-repeat; border-bottom: 1px solid;">

            <h2 style=" text-align: center; color: #222;  font-size: 45px;position:relative;top:90px; text-shadow: 1px 1px #fff;">ELRI</h2>            
            <h2 style=" text-align: center; color: #223;  font-size: 45px;position:relative;top:60px; text-shadow: 1px 1px #fff;">{% trans "National Relay Station" %}</h2>
            <h2 style=" text-align: center; color: #234;  font-size: 45px;position:relative;top:30px; text-shadow: 1px 1px #fff;">{% trans "Ireland" %}</h2>                        
        </div>
</div>
