<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
{% load analytical %}
{% load static from staticfiles %}
{% load i18n %}

{% spaceless %}
    <html lang="en">
    <head>
        {% analytical_head_top %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{% spaceless %}{% block title %}ELRI{% endblock %}{% endspaceless %}</title>
        <meta name="description" content="
                {% spaceless %}{% block description %}ELRI National Relay Station: a repository to store, search and retrieve Language Resources.{% endblock %}{% endspaceless %}"/>
        <meta name="keywords" content="
                {% spaceless %}{% block keywords %}ELRI, National Relay Station, language resources, translation memories, Connecting Europe Facility{% endblock %}{% endspaceless %}"/>
        <link rel="shortcut icon" href="{% static "metashare/images/favicon.ico" %}"/>
        <link rel="stylesheet" href="{% static "metashare/css/blueprint/screen.css" %}" type="text/css"
              media="screen, projection">
        <link rel="stylesheet" href="{% static "metashare/css/blueprint/print.css" %}" type="text/css" media="print">
        <!--[if lt IE 8]><link rel="stylesheet" href="{% static "metashare/css/blueprint/ie.css" %}" type="text/css" media="screen, projection">
        <![endif]-->
        <link rel="stylesheet" href="{% static "metashare/css/sexybuttons/sexybuttons.css" %}" type="text/css"
              media="screen">
        <link rel="stylesheet" href="{% static "metashare/css/screen.css" %}" type="text/css" media="screen">
        <link rel="stylesheet" href="{% static "metashare/css/typo.css" %}" type="text/css" media="screen">
        <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
        <script type="text/javascript" src="{% static "metashare/js/jquery-1.7.1.min.js" %}"></script>
        <script type="text/javascript" src="{% static "metashare/js/metashare.js" %}"></script>
        <script src="https://use.fontawesome.com/92573ad434.js"></script>

        {% block links %}{% endblock %}{% analytical_head_bottom %}
        <style>
            .menu_fontawesome {
                font-size: 1.4em;
                color: #058dbe;
            }
        </style>
        {% block extra_head %}{% endblock %}
        <link rel="stylesheet" type="text/css"
              href="/static/metashare/css/cookie_consent.css"/><script src="/static/metashare/js/cookie_consent.js"></script><script>
            window.addEventListener("load", function () {
                window.cookieconsent.initialise({
                    "palette": {
                        "popup": {
                            "background": "#edeff5",
                            "text": "#838391"
                        },
                        "button": {
                            "background": "#4b81e8"
                        }
                    },
                    "type": "opt-out",
                     "content": {
                        "message": {% blocktrans %}"This site uses cookies to enhance your user experience. By clicking any link on this page you are giving your consent for us to set cookies." {% endblocktrans %},
                        "dismiss": {% blocktrans %}"OK, I aggree "{% endblocktrans %},
                        "deny":{% blocktrans %}"Decline "{% endblocktrans %},
                        "allow": {% blocktrans %}"Allow cookies"{% endblocktrans %},
                        "link": {% blocktrans %}"Learn more"{% endblocktrans %},
                        "policy": {% blocktrans %}'Cookie Policy'{% endblocktrans %}
                    }
                })
            });
        </script>
        
    </head>
    <body>
    {% analytical_body_top %}
    {% block header %}
        {% include "header.html" with page="frontpage" %}
    {% endblock %}
    {% block back %}{% endblock %}
    <div class="container">
        <div id="content">
            <div id="messages">
                {% block messages %}{% endblock %}
                {% if messages %}
                    {% for message in messages %}
                        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            {% block content %}{% endblock %}
        </div>
    </div>
    {% include "footer.html" %}
    <script type="text/javascript">addFormHelper()</script>
    {% analytical_body_bottom %}
    </body>
    </html>
{% endspaceless %}
