{% extends "base.html" %}
{% load email_protection i18n %}

{% block content %}
    <h1 style=" border: 0; clip: rect(0 0 0 0); height: 1px; margin: 1px; overflow: hidden; padding: 0; position: absolute; width=1px;" >{% trans 'Usage' %}</h1>
    <div id="ELRI_services" class="anchor"></div>
    <h2 id="main-content">{% blocktrans %}ELRI Services{% endblocktrans %}</h2>
    <div class="content_box">
        <p>{% blocktrans %}The ELRI project is intended to provide services related to the collection, preparation, storage and sharing of language resources. These services are provided via National Relay Stations, websites based in the Member States that are part of the initiative.{% endblocktrans %}</p>

        <p>{% blocktrans %}Users that have registered to an ELRI National Relay Stations can upload their data and benefit from fully prepared resources. For instance, users can upload collections of documents in different languages and retrieve translation memories that will have been created automatically by our integrated data processing engines.{% endblocktrans %}</p>

        <p>{% blocktrans %}Users can decide to share a given resource with a specific group of users, at the national level between similar public organisations, with the European Commission to help improve European public translation services, or with the community at large for data that can be shared without restrictions.{% endblocktrans %}</p>

        <p>{% blocktrans %}Only registered users can browse and download those resources that have been made available to the groups to which they belong, according to the licensing terms under which the resources are provided.{% endblocktrans %}</p>
    </div>

    <div id="Managing_LRs" class="anchor"></div>
    <h2>{% blocktrans %}Managing Language Resources{% endblocktrans %}</h2>
    <div class="content_box">
        <p>{% blocktrans %}To benefit from the services of this ELRI National Relay Station, users should follow the following procedure:{% endblocktrans %}</p>
        <ul>
            <li>{% blocktrans %}New users should first  <a href="../accounts/create/">register</a>. Once your account credentials have been validated, you can log in and either search (via the Browse Resources menu) or contribute ((via the Contribute Resources menu) language resources.{% endblocktrans %}</li>

            <li>{% blocktrans %}For each language resource, you will be asked to provide the languages of its content, a short title, the group with which you wish to share the resource, and the associated licensing conditions (see <a href="#Licensing_LRs" title="licensing contitions">below</a>).{% endblocktrans %}</li>

            <li>{% blocktrans %}Users who require the creation of a specific group of users for sharing purposes, beyong the available user groups, can contact us via the Contact menu.{% endblocktrans %}</li>

            <li>{% blocktrans %}Once the resource has been fully prepared by our data processing engines, you will receive a notification email and will be able to download the prepared resource. If further information were needed about the resource and its licensing conditions, you may be contacted by an ELRI responsible.{% endblocktrans %}</li>

            <li>{% blocktrans %}Until clearance has been granted, the resource can only be viewed by authorised reviewers of the National Relay Station. Once clearing is granted, the prepared resource will be downloadable by users of the authorised group of users, in accordance to its licensing conditions.{% endblocktrans %}</li>

        </ul>
    </div>

        <div id="Licensing_LRs" class="anchor"></div>
        <h2>{% blocktrans %}Licensing Language Resources{% endblocktrans %}</h2>
        <div class="content_box">
            <p>{% blocktrans %}Any grant of access to language resources via this National Relay Station should include not only the right to read
                the relevant content but also to allow transformative uses, dissemination and distribution of such
                resources and their derivatives, according to the needs and policies of language resource owners and users.{% endblocktrans %}</p>

            <p>{% blocktrans %}To limit the complexity of licensing, we strongly advise data providers to use one of the standard
                licences, i.e. <b>Creative Commons</b> and open national licences indicated below, which are pre-selected in the data upload form for convenience.{% endblocktrans %}</p>

            <p>{% blocktrans %}Users can also provide a licence of their choice by uploading a PDF file detailing the licensing conditions. These user-specific licenses will be reviewed by responsibles from the ELRI National Relay Station to assess whether this specific license meets the required terms of conditions for sharing via ELRI.{% endblocktrans %}</p>

            <div id="Standard_and_National_Open_Licences" class="anchor"></div>
            <h3>{% blocktrans %}Licences{% endblocktrans %}</h3>
            <table id="Licences">
                <thead>
                <tr>
                    <th>{% blocktrans %}Value{% endblocktrans %}</th>
                    <th>{% blocktrans %}Full name with link to licence text or Definition{% endblocktrans %}</th>
                </tr>
                </thead>
                <tbody>
                <!-- International/National Data Licences -->
                <tr>
                    <td colspan="2">
                        <div style="font-size:1.2em; color: #4d4d4d;;">{% blocktrans %}International/National Data Licences{% endblocktrans %}</div>
                        <hr/>
                    </td>
                </tr>
                 <tr>
                    <td>Public Domain</td>
                    <td>{% blocktrans %}Used for resources that are free of all known legal restrictions {% endblocktrans %}
                    </td>
                    </td>
                </tr>
                 <tr>
                    <td>Open Under PSI</td>
                    <td>{% blocktrans %}Used for resources that are PSI-compliant and no further information is required or available {% endblocktrans %}
                    </td>
                    </td>
                </tr>
                <tr>
                    <td>CC0-1.0</td>
                    <td><a href="https://creativecommons.org/publicdomain/zero/1.0/"
                           target="_blank" lang="en">Creative Commons Zero</a></td>
                    </td>
                </tr>
                <tr>
                    <td>CC-BY-4.0</td>
                    <td><a href="https://creativecommons.org/licenses/by/4.0/"
                           target="_blank" lang="en">Creative Commons Attribution v4.0</a></td>
                    </td>
                </tr>
                <tr>
                    <td>CC-BY-NC-4.0</td>
                    <td><a href="https://creativecommons.org/licenses/by-nc/4.0/"
                           target="_blank" lang="en">Creative Commons Attribution-NonCommercial v4.0</a></td>
                    </td>
                </tr>
                <tr>
                    <td>CC-BY-NC-SA-4.0</td>
                    <td><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
                           target="_blank" lang="en">Creative Commons Attribution-NonCommercial-ShareAlike v4.0</a></td>
                    </td>
                </tr>
                <tr>
                    <td>CC-BY-SA-4.0</td>
                    <td><a href="https://creativecommons.org/licenses/by-sa/4.0/"
                           target="_blank" lang="en">Creative Commons Attribution-ShareAlike v4.0</a></td>
                    </td>
                </tr>
               

                <!-- National Data Licences -->
                <tr>
                    <td colspan="2">
                        <div style="font-size:1.2em; color: #4d4d4d;;">{% blocktrans %}National Data Licences{% endblocktrans %}</div>
                        <hr/>
                    </td>
                </tr>
                <tr>
                    <td>LO-OL-v2</td>
                    <td><a href="https://www.etalab.gouv.fr/wp-content/uploads/2017/04/ETALAB-Licence-Ouverte-v2.0.pdf"
                           target="_blank" lang="fr">Licence
                        Ouverte / Open Licence v2.0</a> (France)
                    </td>
                </tr>
                <tr>
                <td>ODbL-1.0</td>
                <td><a href="https://www.opendatacommons.org/licenses/odbl/1.0/" target="_blank" lang="en"> Open Database License (ODbL) v1.0 </a> (France) </td>
                </tr>
                <!-- Other -->
                <tbody>
            </table>
        </div>
    </div>
{% endblock %}
