{% extends "base.html" %}
{% load humanize %}
{% load i18n %}
{% load static from staticfiles %}
{% block back %}{% include "back.html" with page="frontpage" %}{% endblock %}
{% block content %}
    {% spaceless %}
        <div style="margin-top: -80px">
            <div class="span-24" style="vertical-align: middle; margin-top:30px;">
                <table>
                    <tr>
                        <td>
                          <span class="span-15 last" style="">
                            <h2 id="main-content" >{% blocktrans %}Welcome to ELRI in MyCountry!{% endblocktrans %}</h2>
                            <p>{% blocktrans %}This site is the official National Relay Station in MyCountry, where language resources can be collected, prepared and shared amongst public institutions and translation centres.{% endblocktrans %}</p>

                            <p>{% blocktrans %}National Relay Stations are developed within the  <a href="http://www.elri-project.eu" target="_blank" >ELRI</a> European project, supported by the <a href="http://ec.europa.eu/inea/en/connecting-europe-facility" lang="en" target="_blank">Connecting Europe Facility</a> programme.{% endblocktrans %}</p>

                            <p>{% trans "Help promote language equality in Europe by joining the ELRI network!" %}</p>

                            <h2>{% trans "Join ELRI" %}</h2>
                            <p>{% blocktrans %}Members of public institutions and translation centres can join user groups to download shared resources, contribute their own data and benefit from translation memories or other language resources automatically prepared by the ELRI engines.{% endblocktrans %}</p>

                            <p>{% blocktrans %}<a href="/accounts/create">Register</a> to become a member of ELRI.
                            <br>Already a member? <a href="/login">Sign in</a>.{% endblocktrans %}</p>

                            <h2>{% trans "Search and share" %}</h2>
                            <p>{% blocktrans %}<a href="/repository/search">Browse</a> available language resources.
                            <br><a href="/repository/contribute">Contribute</a> your own data and retrieve prepared language resources.{% endblocktrans %}</p>
                          </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    {% endspaceless %}
{% endblock %}
