{% load static from staticfiles %}
{% load is_member i18n %}
{% spaceless %}


    <div id="header">
        {% if country == "Portugal" %}
           <a href="{% url 'frontpage' %}" title="Ir para a homepage do eTradução">
           <img style="float:right; margin: 10px 20px 0 0"
                                src="{{ STATIC_URL }}metashare/images/elri-logo-title-small-pt.png" alt="Ir para a homepage do eTradução" /></a>
        {% else %}
        <a href="http://www.elri-project.eu/" title="{% trans 'Go to the ELRI project homepage' %}"
                target="_blank"><img style="float:right; margin: 10px 20px 0 0"
                                        src="{{ STATIC_URL }}metashare/images/elri-logo-title-small.png" alt="ELRI ‐ European Language
        Resource Infrastructure"/></a>
        {% endif %}
        <div id="jsddmdiv" class="jsddm">
            {# drop-down menu created with http://javascript-array.com/scripts/jquery_simple_drop_down_menu/ #}
            <ul id="jsddm">
                <li title="{% trans 'Home' %}"><a href="{% url 'frontpage' %}" >
                    <i class="fa fa-home menu_fontawesome" aria-hidden="true"></i> {% trans 'Home' %}</a></li>
                {% if user.is_authenticated %}
                    <li title="{% trans 'Browse the resources of the ELRI catalogue' %}"><a
                            href="{% url 'frontpage' %}repository/search/">
                        <i class="fa fa-list-ul menu_fontawesome" aria-hidden="true"></i> {% trans 'Browse' %}</a></li>
                    <li><a href="{% url 'contribute' %}">
                        <i class="fa fa-share-square-o menu_fontawesome" aria-hidden="true"></i> {% trans 'Contribute' %}</a></li>
                {% endif %}
                {% if user.userprofile.has_editor_permission %}
                    <li title="{% trans 'Create/edit resource metadata or upload resource data' %}"><a>
                        <i class="fa fa-pencil-square-o menu_fontawesome" aria-hidden="true"></i> {% trans 'Manage' %}</a>
                        <ul>
                            <li title="{% trans 'Create/edit your own resource metadata or upload resource data' %}"><a
                                    href="{% url 'editor:repository_resourceinfotype_model_myresources' %}">
                                    {% trans 'Manage your own resources' %}</a></li>
{#                            {% if user.is_superuser or user|is_member:"legalReviewers" or user|is_member:"technicalReviewers" %}#}
                            {% if user.is_superuser or user|is_member:"reviewers" %}
                                <li title="{% trans 'Create/edit resource metadata or upload resource data' %}"><a
                                        href="{% url 'editor:repository_resourceinfotype_model_changelist' %}">
                                    {% trans 'Manage all resources' %}</a>
                                </li>
                            {% endif %}
                            {# PROJECT MANAGEMENT #}
<!--
                            {% if user.is_superuser or user|is_member:"reviewers" %}
                                <li title="{% trans 'Manage LRs by ELRC deliverables' %}"><a
                                        href="/admin/project_management/managementobject/"> {% trans 'Manage LRs by ELRC deliverables' %}</a>
                                </li>
                            {% endif %}
-->
                            {% if user.is_superuser %}
                                <li title="{% trans 'Create/edit person object metadata' %}"><a
                                        href="{% url 'editor:repository_personinfotype_model_changelist' %}">
                                    {% trans 'Manage person objects' %}</a></li>
                                <li title="{% trans 'Create/edit organization object metadata' %}"><a
                                        href="{% url 'editor:repository_organizationinfotype_model_changelist' %}">
                                    {% trans 'Manage organization objects' %}</a></li>
                                <li title="{% trans 'Create/edit project object metadata' %}"><a
                                        href="{% url 'editor:repository_projectinfotype_model_changelist' %}">
                                    {% trans 'Manage project objects' %}</a></li>
                                <li title="{% trans 'Create/edit document/paper object metadata' %}"><a
                                        href="{% url 'editor:repository_documentinfotype_model_changelist' %}">
                                    {% trans 'Manage document objects' %}</a></li>
                            {% endif %}
                            <li title="{% trans 'Upload XML resource descriptions' %}"><a href="{% url 'editor:upload_xml' %}">
                                {% trans 'Upload resource descriptions' %}</a></li>
                        </ul>
                    </li>
                {% endif %}
{#                {% if user.is_superuser or user.userprofile.has_organization_manager_permission or user.userprofile.has_manager_permission %}#}
                {% if user.is_superuser %}
                    <li title="{% trans 'Manage users and groups' %}"><a>
                        <i class="fa fa-wrench menu_fontawesome" aria-hidden="true"></i> {% trans 'Administration' %}</a>
                        <ul>
                            {% if user.is_superuser %}
                                <li><a href="{% url 'admin:auth_user_changelist' %}">Users</a></li>
{#                                <li><a href="{% url 'editor:accounts_editorgroup_changelist' %}">Editor groups</a></li>#}
{#                                <li><a href="{% url 'editor:accounts_editorgroupmanagers_changelist' %}">Editor group#}
{#                                    managers</a></li>#}
                                <li><a href="{% url 'editor:accounts_organization_changelist' %}">Groups</a></li>
{#                                <li><a href="{% url 'editor:accounts_organizationmanagers_changelist' %}">Organization#}
{#                                    managers</a></li>#}
{#                                <li><a href="{% url 'admin:accounts_accesspointedeliveryapplication_changelist' %}"> {% trans 'eDelivery membership applications' %}</a></li>#}
                            {% endif %}
{#                            {% if user.userprofile.has_manager_permission %}#}
{#                                <li><a href="{% url 'admin:accounts_editorgroupapplication_changelist' %}">Editor group#}
{#                                    applications</a></li>#}
{#                            {% endif %}#}
{#                            {% if user.is_superuser or user.userprofile.has_organization_manager_permission %}#}
{#                                <li><a href="{% url 'admin:accounts_organizationapplication_changelist' %}">Organization#}
{#                                    applications</a></li>#}
{#                            {% endif %}#}
                        </ul>
                    </li>
                {% endif %}
                {% if user|is_member:"reviewers" %}
                <li title="{% trans 'View various statistics for this META-SHARE Node' %}"><a
                        href="{% url 'metashare.views.frontpage' %}stats/top/">
                    <i class="fa fa-bar-chart menu_fontawesome" aria-hidden="true"></i> {% trans 'Statistics' %}</a></li>
                {% endif %}
                <li><a href="{% url 'info' %}">
                    <i class="fa fa-info-circle menu_fontawesome" aria-hidden="true"></i> {% trans 'Usage' %}</a>
                    <ul>
                        <li><a href="{% url 'info' %}#ELRI_services">{% trans 'ELRI Services' %}</a></li>
                        <li><a href="{% url 'info' %}#Managing_LRs">{% trans 'Managing Language Resources' %}</a></li>
                        <li><a href="{% url 'info' %}#Licensing_LRs">{% trans 'Licensing Language Resources' %}</a></li>
                    </ul>
                </li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'legal' %}">
                    <i class="fa fa-book menu_fontawesome" aria-hidden="true"></i> {% trans 'Terms of Service' %}</a>
                    <ul>
                        <li><a href="{% url 'legal' %}#Use_of_services">{% trans 'Use of ELRI Services' %}</a></li>
                        <li><a href="{% url 'legal' %}#Sharing">{% trans 'Sharing of Language Resources' %}</a></li>
                        <li><a href="{% url 'legal' %}#Privacy">{% trans 'Privacy' %}</a></li>
                        <li><a href="{% url 'legal' %}#Data_protection">{% trans 'Data Protection' %}</a></li>
                        <li><a href="{% url 'legal' %}#Data_protection_statement">{% trans 'Data Protection Statement' %}</a></li>
                        <li><a href="{% url 'legal' %}#Notice_take_down">{% trans 'Notice and Takedown Policy' %}</a></li>
                    </ul>
                </li>
                {% endif %}
                <li title="{% trans 'Help' %}"><a href="{% url 'help' %}">
                    <i class="fa fa-question-circle menu_fontawesome" aria-hidden="true"></i> {% trans 'Help' %}</a></li>

                {% if user.is_active %}
                    <li title="{% trans 'Profile settings and actions' %}">
                        <a href="{% url 'edit_profile' %}">
                            <i class="fa fa-user menu_fontawesome" aria-hidden="true"></i> <!-- removing Your Profile and switching user.username and user.firtname to show-->
                            {% load firstof from future %}
                            {% filter force_escape %}
                                {% firstof user.username user.first_name %}
                            {% endfilter %}
                        </a>
                        <ul>
                            {% if user.is_staff %}
                                <li><a href="{% url 'editor:index' %}">{% trans 'View your recent actions' %}</a></li>{% endif %}
                            <li><a href="{% url 'edit_profile' %}" title="{% trans 'View or edit your personal details' %}">
                                {% trans 'Edit your profile'%}</a></li>
                            <li><a href="{% url 'password_change' %}">{% trans 'Change your password' %}</a></li>
<!-- {#                            <li><a href="{% url 'editor_group_application' %}"#}
{#                                   title="Apply for membership in editor groups">Apply for editor group membership</a>#}
{#                            </li>#}
{#                            <li><a href="{% url 'update_default_editor_groups' %}"#}
{#                                   title='Set the editor groups to which all new resources you create shall belong'>Update#}
{#                                default editor groups</a></li>#}
{#                            <li><a href="{% url 'organization_application' %}"#}
{#                                   title="Apply for membership in organizations">Apply for organization membership</a>#}
{#                            </li>#} -->
<!--
                            <li><a href="{% url 'edelivery_application' %}"
                                   title="{% trans 'Apply for eDelivery membership' %}">{% trans 'Apply for ELRC-SHARE eDelivery membership' %}</a>
                            </li>
-->
<!--
                            {% if user.is_superuser or user|is_member:"ecmembers" %}
                                <li title="{% trans 'ELRC-SHARE RESTful API' %}"><a
                                        href="/repository/api/v1/help/"> {% trans 'ELRC-SHARE RESTful API' %}</a>
                                </li>
                            {% endif %}
-->
                        </ul>
                    </li>
                {% endif %}
                {% if user.username %}
                    <li><a href="{% url 'logout' %}">
                        <i class="fa fa-sign-out menu_fontawesome" aria-hidden="true"></i> {% trans 'Logout' %}</a></li>
                {% else %}
                    <li><a href="{% url 'create' %}">
                        <i class="fa fa-user-plus menu_fontawesome" aria-hidden="true"></i> {% trans 'Register' %}</a></li>
                    <li><a href="{% url 'login' %}">
                        <i class="fa fa-sign-in menu_fontawesome" aria-hidden="true"></i> {% trans 'Login' %}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endspaceless %}
