{% extends "base.html" %}
{% load email_protection i18n %}
{% load static %}
{% block content %}
    <h2>{% trans 'Help' %}</h2>
    <div class="content_box">
        <h2>{% trans 'Contact details' %}</h2>
        <ul>
            <li>{% trans 'For enquiries related to the project, please refer to the <a href="http://www.elri-project.eu/contact-us.html" target="_blank">list of ELRI Contacts' %}</a>.</li>
            <li>{% trans 'For technical help about this National Relay Station, you can contact us at <a href="mailto:eli-nrs-support@vicomtech.org" >eli-nrs-support@vicomtech.org</a>.' %}</li>
        </ul>
    </div>
{% endblock %}
