{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <div class="content_box">
        <h1 style="text-align: center; font-size: 20pt; line-height:150%; margin: '20px 0px 20px 0px'; font-weight: normal; color:#111; display:block; margin-block-start: 0.83em; margin-block-end: 0.83em; margin-inline-start:0px; margin-inline-end:0px;" id="main-content">{% blocktrans %}<strong>ELRI Terms of Service</strong>{% endblocktrans %}</h2>
        <p>{% blocktrans %}These are the Terms of Use and Provision of the ELRI Services for all registered Users of the ELRI National Relay Station in [Member State]. By using ELRI Services, you are agreeing to these Terms. Please read them carefully, as you are bound by them.{% endblocktrans %}</p>        
        
        <div id="Interpretation" class="anchor"></div>
        <h3>{% blocktrans %}<b>Interpretation</b>{% endblocktrans %}</h3>        
        <p>{% blocktrans %}a) “User” or “You”: means an individual or entity who is exercising rights or undertaking legal obligations under this Service Agreement and who has not previously violated these Terms of Service or who has received express permission from the Service Provider despite a previous violation. Registered Users’ details are OR have been obtained through registration with the ELRI Services.{% endblocktrans %}</p>        

        <p>{% blocktrans %}b) “ELRI”: means all organisations that form part of the ELRI consortium.{% endblocktrans %}</p>  
 
        <p>{% blocktrans %}c) “Service Provider”: means the ELRI National Relay Station in [Member State], which is hosted by [NAME OF HOSTING ORGANISATION] as a member of ELRI.{% endblocktrans %}</p>  
 
        <p>{% blocktrans %}d) “ELRI Services”: These are the services offered by ELRI, which include:{% endblocktrans %}</p>  
        <ul> 
            <li>{% blocktrans %}User registration, authentication and authorisation{% endblocktrans %}</li>
            <li>{% blocktrans %}Archiving (storage and maintenance for preservation purposes) of language resources{% endblocktrans %}</li>
            <li>{% blocktrans %}Documentation (with metadata) of language resources{% endblocktrans %}</li>
            <li>{% blocktrans %}Searching, browsing and viewing of resource metadata{% endblocktrans %}</li>
            <li>{% blocktrans %}Uploading and downloading of language resources{% endblocktrans %}</li>
            <li>{% blocktrans %}Automatic and manual processing of uploaded language resources{% endblocktrans %}</li>
        </ul>
        
        
        <p>{% blocktrans %}e) “ELRI Registration Service”: means the service through which the Service Provider obtains your name and contact details.{% endblocktrans %}</p> 
 
        <p>{% blocktrans %}f) “Depositor”: any individual or organisation who deposits material using ELRI Services.{% endblocktrans %}</p> 
 
        <p>{% blocktrans %}g) Headings contained in this Terms of Service Agreement are for reference purposes only and shall not be deemed to be an indication of the meaning of the clause to which they relate.{% endblocktrans %}</p> 
 
        <p>{% blocktrans %}h) Where the context so implies, words importing the singular number shall include the plural and vice versa and words importing the masculine shall include the feminine and vice versa.{% endblocktrans %}</p> 
 
        <div id="Modifications" class="anchor"></div>
        <h3>{% blocktrans %}<b>Modifications</b>{% endblocktrans %}</h3>        
        <p>{% blocktrans %}The Service Provider may change these Terms at any time by posting changes online. Please review these Terms regularly to ensure You are aware of any changes made. Your continued use of the ELRI Services after changes are posted means You agree to be legally bound by these Terms as updated and/ or amended. The Service Provider agrees to notify You regarding any such change by email or through the ELRI Services or any other appropriate means. If additional services are added to the ELRI Services, then additional terms may apply which will become part of this agreement. {% endblocktrans %}</p>        
        
        <div id="Use_of_services" class="anchor"></div>
        <h3>{% blocktrans %}<b>Use of ELRI Services</b>{% endblocktrans %}</h3>        
        <p>{% blocktrans %} Access to and use of the ELRI Services is provided subject to the following terms, which shall take effect upon Your access to and use of the ELRI Services. You agree to use the ELRI Services only for lawful purposes and in a way that does not infringe the rights of, restrict or inhibit anyone else’s use of such resources.{% endblocktrans %}   
        <p>{% blocktrans %}If you are an ELRI Registered User, then You have unlimited access to all ELRI Services offered by the Service Provider; more specifically:{% endblocktrans %}</p>   <ol type="a">
        <li>{% blocktrans %}access to all language resources in accordance to the relevant licensing terms granted for each resource;{% endblocktrans %}</li>
        <li>{% blocktrans %}access to language resources documentation, upload, processing and storage services;{% endblocktrans %}</li>
        <li>{% blocktrans %}searching, browsing and viewing of the ELRI inventory and of the language resources metadata;{% endblocktrans %}</li>
        <li>{% blocktrans %}downloading of language resources in accordance to the relevant licensing terms.{% endblocktrans %}</li>
        </ol>    
        
        <div id="Privacy" class="anchor"></div>
        <h3>{% blocktrans %}<b>Privacy</b>{% endblocktrans %}</h3>        
        <p>{% blocktrans %}The ELRI website and services log certain information about every request sent to them. This information is used for system administration and for producing usage statistics. Summary statistics are extracted from this data and some of these may be made publicly available, but these do not include information from which individuals could be identified. Relevant subsets of this data may be used as part of investigations of computer misuse involving this site. Data may also on occasion be used to enable investigation of technical problems on the website. Otherwise logged information is not passed to any third party except if required by law.{% endblocktrans %}</p>        
        
        <div id="Data_protection" class="anchor"></div>
        <h3>{% blocktrans %}<b>Data protection</b>{% endblocktrans %}</h3>        
        <p>{% blocktrans %}From time to time the ELRI Service Providers may use electronic forms on this site to gather personal information for purposes directly related to a service, function or activity of the ELRI Services. When the Service Provider will do so it will let users know the purpose for which the information is being collected (including if the information is to be published). Completion of and submission of any form on this website is entirely at the discretion of the user.{% endblocktrans %}</p>        
        
        <div id="Data_protection_statement" class="anchor"></div>
        <h3>{% blocktrans %}<b>Data protection statement</b>{% endblocktrans %}</h3>        
        <p>{% blocktrans %}In using and submitting content on the ELRI Services, You agree that ELRI may use any personal data of Yours that You supply through contributing content or by filling in electronic forms. ELRI fully respects Your privacy and seeks to protect Your personal data:{% endblocktrans %}</p>        
            <ul> 
            {% blocktrans %}<li>ELRI will only collect and use Your information to administer, support, improve and obtain feedback on its services.</li>{% endblocktrans %} 
            {% blocktrans %}<li>ELRI may also contact You to obtain feedback on services and any improvements it can make.</li>{% endblocktrans %} 
            {% blocktrans %}<li>ELRI will not disclose Your personal data to any other organization.</li>{% endblocktrans %} 
            {% blocktrans %}<li>You can access and modify your personal data through the Registration Service.</li>{% endblocktrans %}
            </ul>
                           
        <div id="Cookies_policy" class="anchor"></div>
        <h3>{% blocktrans %}<b>Cookies policy</b>{% endblocktrans %}</h3>        
        <p>{% blocktrans %}This website uses cookies to facilitate the operation of the service and enhance user experience.{% endblocktrans %}</p>        
        
        <div id="Misuse" class="anchor"></div>
        <h3>{% blocktrans %}<b>ELRI Services misuse and notification regarding IPR infringement</b>{% endblocktrans %}</h3>        
        <p>{% blocktrans %}You should not misuse the ELRI Services, e.g. by interfering with them or by trying to access them using a method different from the one suggested in the ELRI instructions. You may use the ELRI Services only as permitted by law, including applicable export and control laws, regulations and licenses. The Service Provider may suspend or stop providing ELRI Services to You if You do not comply with ELRI Terms or policies or if the Service Provider is investigating suspected misconduct.</p>
 
        <p>ELRI maintains usage statistics as a measure of readership and other use of the ELRI Services by users. It is a violation of ELRI policy for a party to directly or indirectly use ELRI with a view to affect download and other usage statistics, or to encourage others to do so. As part of its general right to refuse or terminate service and remove or edit the content of the ELRI Services, ELRI reserves the right in its sole discretion to limit access, remove content, and adjust usage statistics to respond to any activity that appears likely to have such an effect.</p>

        <p>In case You identify language resources that violate Your Intellectual Property Rights, You may follow the ELRI Notice and Take Down procedure found in Appendix A.
        {% endblocktrans %}</p>        
                                
        <div id="Disclaimers" class="anchor"></div>
        <h3>{% blocktrans %}<b>Disclaimers and Limitation of Liability</b>{% endblocktrans %}</h3>        
        <p>{% blocktrans %}ELRI Services, content and metadata are provided “AS IS” and on an “ΑS AVAILABLE” basis without any representations or any kind of warranty made (whether express or implied by law) to the extent permitted by law, including the implied warranties of satisfactory quality, fitness for a particular purpose, noninfringement, compatibility, security and accuracy.</p>
 
        <p>Under no circumstances will ELRI be liable for any of the following losses or damage (whether such losses where foreseen, foreseeable, known or otherwise): (a) loss of data; (b) loss of opportunity; (c) loss of goodwill or injury to reputation; (d) losses suffered by third parties; or (e) any direct, indirect, consequential, special or exemplary damages arising from the use of the ELRI regardless of the form of action.</p>
 
        <p>ELRI does not warrant that functions contained in the ELRI Services will be uninterrupted or error free, that defects will be corrected, or that the ELRI databases or the delivery mechanism that make it available are free of viruses and bugs.{% endblocktrans %}</p>        

        <div id="Termination" class="anchor"></div>
        <h3>{% blocktrans %}<b>Termination</b>{% endblocktrans %}</h3>        
        <p>{% blocktrans %}The rights granted hereunder will terminate automatically upon any breach by You of the Terms of Service. Subject to the above terms and conditions, this agreement will be valid for as long as ELRI Services are in existence and will continue in full force and effect unless terminated as stated above.{% endblocktrans %}</p>        
        
        <div id="Sharing" class="anchor"></div>
        <h3>{% blocktrans %}<b>Sharing of Language Resources</b>{% endblocktrans %}</h3>        
        <p>{% blocktrans %}By using the ELRI Services to upload and share one or more Language Resources you represent and warrant that:{% endblocktrans %}</p>   
        <ul>        
           <li>{% blocktrans %}you have the full authority to deposit the Resource;{% endblocktrans %}</li>
           <li>{% blocktrans %}you have the necessary legal title in the Resource or you are permitted to make the deposition of the Resource;{% endblocktrans %}</li>
           <li>{% blocktrans %}the deposition of the Resource will not violate or be considered a breach of any obligation or right of a third party;{% endblocktrans %}</li>
           <li>{% blocktrans %}the deposition of the Resource will not violate any applicable law or regulation;{% endblocktrans %}</li>
           <li>{% blocktrans %}you have used reasonable skill and care to ensure that the information you provide in the process of deposition does not contain any untrue statements of legal or material facts.{% endblocktrans %}</li>
        </ul>

        <div id="Notice_take_down" class="anchor"></div>
        <h3>{% blocktrans %}<b>Appendix A. Notice and Take Down policy</b>{% endblocktrans %}</h3>        
        <p>{% blocktrans %}If a rights holder is concerned that s/he has found Language Resources (LRs) on the ELRI National Relay Station in [Member State], for which s/he has not given permission, granted a licence or is not covered by a limitation or exception in national law, such rights holder is asked to contact the Service Provider at [email address] in writing, stating the following:{% endblocktrans %}</p>
        <ol>
        <li>{% blocktrans %}His/Her contact details;{% endblocktrans %}</li>
        <li>{% blocktrans %}The full bibliographic details of the LR;{% endblocktrans %}</li>
        <li>{% blocktrans %}The exact and full URL where s/he found the LR;{% endblocktrans %}</li>
        <li>{% blocktrans %}Proof that s/he is the rights holder and a statement that, under penalty of perjury, s/he is the rights holder or an authorised representative.{% endblocktrans %}</li>
        </ol>
            
        <p>{% blocktrans %}Upon receipt of notification, the ‘Notice and Take Down’ procedure is then invoked as follows:{% endblocktrans %}</p> 
        <ol>
        <li>{% blocktrans %}The Service Provider will acknowledge receipt of the complaint by email or letter and will make an initial assessment of its validity and plausibility.{% endblocktrans %}</li>
        <li>{% blocktrans %}Upon receipt of a valid complaint, the LR will be temporarily removed from the ELRI Services pending an agreed solution.{% endblocktrans %}</li>
        <li>{% blocktrans %}The Service Provider will contact the individual or organisation who deposited the material within ten working days from the reception of a valid complaint. The Depositor will be notified that the material is subject to a complaint, under what allegations, and will be encouraged to assuage the complaints concerned.{% endblocktrans %}</li>
        <li>{% blocktrans %}The complainant and the Depositor will be encouraged to resolve the issue swiftly and amicably and to the satisfaction of both parties, with the following possible outcomes:{% endblocktrans %} <br>
            <ol type="a" style="padding-left:50px">
            <li>{% blocktrans %}The LR is replaced on the ELRI Services inventory unchanged.{% endblocktrans %}</li>
            <li>{% blocktrans %}The LR is replaced on the ELRI Services inventory with changes.{% endblocktrans %}</li>
            <li>{% blocktrans %}The LR is permanently removed from the ELRI Services inventory.{% endblocktrans %}</li>
           </ol>            
        </li>   
        <li>{% blocktrans %}If the Depositor and the complainant are unable to agree on a solution, the LR will remain unavailable through the ELRI Services inventory until a time when a resolution has been reached.{% endblocktrans %}</li>            
       </ol>            
       {% blocktrans %}Appendix B{% endblocktrans %}
        
    </div>

        


{% endblock %}

 
