{% extends "base.html" %}
{% load static i18n%}
{% block extra_head %}
  <link rel="stylesheet" href="{% static 'metashare/css/view_stats.css' %}" type="text/css" media="screen" />
  <link rel="stylesheet" href="{% static 'metashare/css/results.css' %}" type="text/css" media="screen" />
{% endblock %}
{% block content %}
<script>
  $(function() {
      var pageName = window.location.pathname.split('/')[3],
          tabs = $(interpolate("li[data-tabs='%s']", [pageName]));
      if(tabs.length) {
        tabs.addClass('tab-nobr');
      };
  });
</script>


<div class='tab-container'>
    <ul class='etabs'>
      {% block nav_menu %}
        <li class="tab" data-tabs="top"><a href="{% url 'statistics:topstats' %}">{% trans 'ELRC-SHARE visits statistics' %}</a></li>
        <li class="tab" data-tabs="stats"><a href="{% url 'statistics:usagestats' %}">{% trans 'Statistics on resource metadata' %}</a></li>
        {% if user.username and myres %}
            <li class="tab" data-tabs="mystats"><a href="{% url 'statistics:mystats' %}">{% trans 'My resources' %}</a></li>
        {% endif %}
        <li class="tab" data-tabs="charts"><a href="{% url 'statistics:chartstats' %}">{% trans 'Charts' %}</a></li>
      {% endblock %}
    </ul>
</div>
<div class="content_tab">
  {% block content_tab %}
  {% endblock %}
</div>

{% if usage_fields != None %}
  <div class=results>
     {% for class, fields in usage_fields %}
        {% if selected_model == fields.0.7 %}
           {% if textvalues != None and textvalues|length > 0 %}
            <!-- used values table -->
            <div id=fieldvalues class=fieldvalues>
             <a name="fieldvalues"></a>
             <table cellspacing=0 cellpadding=0 border=0 valign=top>
                <tr bgcolor=lightgray>
                    <td width=100%><div style="display: inline; border: solid 1px #999; padding-top: 5px;"><a href="javascript:closetabvals('fieldvalues');" title="{% trans 'Close' %}"><img src="{% static "metashare/css/sexybuttons/images/icons/silk/cross.png" %}"></a></div>{% blocktrans %} used values for <h4>{{ selected_class }}/{{ selected_field }}</h4>{% endblocktrans %}</td>
                    <td style="text-align: right">{% blocktrans %}value counter{% endblocktrans %}</td>
                    <td style="text-align: right">{% blocktrans %}resources counter{% endblocktrans %}</td>
                </tr>

            {% for field in textvalues %}
                <tr>
                <th>{{ field.0 }}</th>
                <th style="text-align: right">{{ field.2 }}</th>
                <th style="text-align: right">{{ field.1 }}</th>
                </tr>
            {% endfor %}
            </table>
            </div>
            <!-- end table -->
           {% endif %}
         {% endif %}

            <div class="accordion"><a href="#" onclick="return false"><label class='component'> {{ class }} </label></a></div>
            <div id="{{ fields.0.7 }}" class="filter">
            <a name="{{ fields.0.7 }}"></a>
            {% for field in fields %}
                {% if field.6 == "component" %}
                    <div class="tab_content" style="width:100%">
                    <a href="javascript:scrollToAnchor('{{ field.1.split|join:"_" }}')"><label class='component indent'><img src="{% static "metashare/css/sexybuttons/images/icons/silk/bullet_arrow_right.png" %}">
                     {{ field.2 }}</label></a>
                {% else %}
                    <div class="dataline mandatory" style="width:100%">
                        {% if field.6 == "ifield" %}
                            <label class='indent'>
                        {% endif %}
                        {% if field.5 > 0 %}
                            <a href="javascript:getvalues('{{ fields.0.7 }}','{{ field.7 }}','{{ field.1 }}')"
                            {% if selected_class == field.7 or selected_class == fields.0.7 %}
                               {% if selected_field == field.1 %}
                                    class="addFilter">
                               {% else %}
                                    class="deleteFilter">
                               {% endif %}
                            {% else %}
                                class="deleteFilter">
                            {% endif %}
                            <label class="title pointer" style="margin-left: 4px"> {{ field.2 }} </label></a>
                        {% else %}
                            <label class="title indent"> {{ field.2 }} </label>
                        {% endif %}
                        {% if field.6 == "ifield" %}
                            </label>
                        {% endif %}
                {% endif %}
                {% if field.3 == 1 %}
                      <div class="coverage required">
                {% else %}
                    {% if field.3 == 2 %}
                         <div class="coverage optional">
                    {% else %}
                        {% if field.3 == 3 %}
                            <div class="coverage recommended">
                        {% else %}
                            <div class="coverage never">
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% if field.4 == 0 %}
                    <i>{% blocktrans %}never used{% endblocktrans %}</i>
                {% else %}
                    {{ field.4 }}/{{ field.5 }}
                {% endif %}
                </div>

                </div>
            {% endfor %}
             </div> <!-- end filter -->
    {% endfor %}
{% endif %}
</div>

  <script>

    function scrollToAnchor(name) {
        //document.getElementById(name).click();
        expandOne(name);
        window.location.href = "#"+name;
        setTimeout("window.scrollBy(0, -130);", 0);
    }

    function gotofiedsvalues() {
        window.location.href = "#fieldvalues";
        setTimeout("window.scrollBy(0, -90);", 20);
    }

    {% if expand_all == "yes" %}
        setTimeout( "expandAll();", 400);
    {% endif %}
    {% if selected_field != "" %}
        setTimeout("gotofiedsvalues();", 500);
    {% endif %}

  </script>

</div>
{% endblock %}
