{% extends "admin/base_site.html" %}
{% load i18n %}
{% block breadcrumbs %}
{% include "breadcrumbs.html" %}
{% endblock %}

{% block content %}
<h3>{% blocktrans %}Add a user to the following organization{{ selected_organizations|pluralize }}:{% endblocktrans %}</h3>

<div class="content_box">
<table class='organization-group'>
  <tr><th>{% blocktrans %}Organization{{ selected_organizations|pluralize }}{% endblocktrans %}</th>
      <th>{% blocktrans %}Members{% endblocktrans %}</th>
      <th>{% blocktrans %}Organization Managers{% endblocktrans %}</th></tr>
  {% for organization in selected_organizations %}
  <tr><td>{{ organization }}</td><td>{{ organization.get_members|join:", "}}</td><td>{{ organization.get_managers|join:", "}}</td></tr>
  {% endfor %}
<table>
</div>

<div class="content_box">
<form method="post" action="{{ path }}">{% csrf_token %}
<table>
{{ form }}
</table>

<input type="hidden" name="action" value="add_user_to_organization"/>
<input type="submit" name="add_user_profile_to_organization" value="Add"/>
<input type="submit" name="cancel" value="Cancel"/>
</form>
</div>

{% endblock content %}
