{% extends "admin/base_site.html" %}
{% load i18n %}
{% block breadcrumbs %}
{% include "breadcrumbs.html" %}
{% endblock %}

{% block content %}
<h3>{% blocktrans %}Add a user to the following organization manager group{{ selected_organizationmanagers|pluralize }}:{% endblocktrans %}</h3>

<div class="content_box">
<table class='organization'>
  <tr><th>{% blocktrans %}Organization Manager{{ selected_organizationmanagers|pluralize }}{% endblocktrans %}</th><th>{% blocktrans %}Members{% endblocktrans %}</th></tr>
  {% for organization_managers in selected_organizationmanagers %}
  <tr><td>{{ organization_managers }}</td><td>{{ organization_managers.get_members|join:", "}}</td></tr>
  {% endfor %}
<table>
</div>

<div class="content_box">
<form method="post" action="{{ path }}">{% csrf_token %}
<table>
{{ form }}
</table>

<input type="hidden" name="action" value="add_user_to_organization_managers"/>
<input type="submit" name="add_user_profile_to_organization_managers" value="Add"/>
<input type="submit" name="cancel" value="Cancel"/>
</form>
</div>

{% endblock content %}
