{% extends "base.html" %}
{% load i18n %}
{% block title %}Apply for eDelivery membership &ndash; ELRI{% endblock %}
{% block messages %}
{% if form.errors %}
<p class="error">{{form.errors}}</p>
{% endif %}
{% endblock %}
{% block content %}
    <div>
        <img src="{{ STATIC_URL }}metashare/images/cef_digital.svg" alt="">
    </div>
    <form class="form-horizontal"
          enctype="multipart/form-data"
          action="{% url 'edelivery_application' %}"
          method="post">
        <fieldset>
            <legend style="padding:20px">{% trans 'Apply for ELRI eDelivery membership' %}</legend>
            <div class="form-group required">
                <label class="col-md-4 control-label" for="endpoint">{% trans 'MSH Endpoint' %}</label>

                <div class="col-md-8">
                    <input id="endpoint" name="endpoint" placeholder="" class="form-control input-md" required=""
                           type="text" size="100">
{#                    <span class="help-block"> A valid URL pointing at the Web Service endpoint</span>#}
                </div>
            </div>
            <div class="form-group required">
                <label class="col-md-4 control-label" for="gateway_party_name">{% trans 'Access Point Gateway Party Name' %}</label>

                <div class="col-md-8">
                    <input id="gateway_party_name" name="gateway_party_name" placeholder="" class="form-control input-md" required=""
                           type="text">
{#                    <span class="help-block"> A valid URL pointing at the Web Service endpoint</span>#}
                </div>
            </div>
            <div class="form-group required">
                <label class="col-md-4 control-label" for="gateway_party_id">Access Point Gateway Party ID</label>

                <div class="col-md-8">
                    <input id="gateway_party_id" name="gateway_party_id" placeholder="" class="form-control input-md" required=""
                           type="text">
{#                    <span class="help-block"> A valid URL pointing at the Web Service endpoint</span>#}
                </div>
            </div>

            <div class="form-group required" id="public_key">
            <label class="col-md-4 control-label" for="public_key">{% trans 'Public Certificate (.crt, .cert, .cer)' %}</label>

            <div class="col-md-4">
                <input accept=".crt,.cert,.cer" id="public_key" name="public_key" class="input-file" type="file" required="">

            </div>
        </div>
            {% csrf_token %}
        </fieldset>
        <input class="btn btn-primary center-block" type="submit" value="Submit"/>
    </form>
{% endblock %}
