{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans 'Change Your Password &ndash; ELRI' %}{% endblock %}
{% block messages %}
{% if form.errors %}
<p class="error">{% blocktrans %}Please correct the error{{ form.errors|pluralize }} below.{% endblocktrans %}</p>
{% endif %}
{% endblock %}

{% block content %}

<h2>{% trans 'Change your password' %}</h2>
<div class="content_box">
<form class="form_helper" action="{% url 'password_change' %}" method="post">

<table>
{% csrf_token %}
{{ form.as_table }}
</table>
<input class="button middle_button" style="margin-left:auto;margin-right:auto;width: 180px;" type="submit" value="{% trans 'Change Password' %}" />
</form>
{% endblock %}


