{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ title }} &ndash; ELRI{% endblock %}

{% block content %}
<h2>{{ title }}</h2>
<div class="content_box">
{% url 'editor_group_application' as editor_group_application %}
{% url 'organization_application' as organization_application_url %}
  <p>{% blocktrans %}With this form you can send messages to the ELRI team. You can use this form, for example, if you would like to suggest the creation of a new group for resource sharing purposes. {% endblocktrans %}</p>
  <form class="form_helper" method="post" action="{% url 'contact' %}">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <input class="button middle_button" style="margin-left:auto;margin-right:auto;" type="submit" value="{% trans 'Send Message' %}" />
  </form>
    {% url 'edit_profile' as edit_profile_url %}
  <p>{% blocktrans %}Note: along with your message, the ELRI team will automatically receive your name and the e-mail address which is set in <a href="{{ edit_profile_url }}">your user profile</a>.{% endblocktrans %}</p>
</div>
{% endblock %}
