{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% block title %}{{ title }} &ndash; ELRI{% endblock %}

{% block messages %}
{% if form.errors %}
<p class="error">{% blocktrans %}Please fill in all fields to create your account.{% endblocktrans %}</p>
{% endif %}
{% endblock %}

{% block content %}
{% spaceless %}
<!--<h2>{% blocktrans %}Create Account{% endblocktrans %}</h2>-->
<h1 style="font-size: 20pt; line-height:150%; margin: '20px 0px 20px 0px'; font-weight: normal; color:#111; display:block; margin-block-start: 0.83em; margin-block-end: 0.83em; margin-inline-start:0px; margin-inline-end:0px;" id="main-content">{% trans 'Create Account' %}</h1>
<div class="content_box">
  <form class="form_helper" method="post" action="{% url 'metashare.accounts.views.create' %}">
    {% csrf_token %}

    {% for field in form %}
       
      {{ field.errors }}

      {% if field.html_name == "accepted_tos" %}
        {{ field }} <label for="{{ field.auto_id }}"> {% blocktrans %}I accept the <a target="_blank" href="{{ elri_tos }}">ELRI Terms of Service</a>.{% endblocktrans %}</label>
        <!--{% static "metashare/ELRI_ToS_template.pdf" as elri_tos %}-->
        <!--{{ field }} <label for="{{ field.auto_id }}">{% blocktrans %}I accept the <a target="_blank" href="{{ elri_tos }}">ELRI Terms of Service</a>.{% endblocktrans %}</label>-->
      {% else %}
        
        {{ field.label_tag }} {{ field }}

      {% endif %}
      <div>{# for spacing and for clearing the last float environments #}</div>
    {% endfor %}
    <input class="button middle_button" style="margin-left:auto;margin-right:auto;" type="submit" value="{% trans 'Create Account' %}" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
</div>
{% endspaceless %}
{% endblock %}
