{% extends "admin/base_site.html" %}
{% load i18n %}
{% block breadcrumbs %}
{% include "breadcrumbs.html" %}
{% endblock %}

{% block content %}
<h3>{% blocktrans %}Remove a user from the following editor group{{ selected_editorgroups|pluralize }}:{% endblocktrans %}</h3>

<div class="content_box">
<table class='editor-group'>
  <tr><th>{% blocktrans %}Editor Group{{ selected_editorgroups|pluralize }}{% endblocktrans %}</th><th>{% blocktrans %}Members{% endblocktrans %}</th><th>{% blocktrans %}Managers{% endblocktrans %}</th></tr>
  {% for editor_group in selected_editorgroups %}
  <tr><td>{{ editor_group }}</td><td>{{ editor_group.get_members|join:", "}}</td><td>{{ editor_group.get_managers|join:", "}}</td></tr>
  {% endfor %}
<table>
</div>

<div class="content_box">
<form method="post" action="{{ path }}">{% csrf_token %}
<table>
{{ form }}
</table>

<input type="hidden" name="action" value="remove_user_from_editor_group"/>
<input type="submit" name="remove_user_profile_from_editor_group" value="{% trans 'Remove' %}"/>
<input type="submit" name="cancel" value="{% trans 'Cancel' %}"/>
</form>
</div>
{% endblock content %}
