{% load i18n %}
{% load static from staticfiles %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% spaceless %}{% block title %}{% trans 'ELRC-SHARE Repository' %}{% endblock %}{% endspaceless %}</title>
    <meta name="description" content="{% spaceless %}{% block description %}ELRC-SHARE: a repository used for documenting, storing, browsing and accessing Language Resources.{% endblock %}{% endspaceless %}"/>
    <meta name="keywords" content="{% spaceless %}{% block keywords %}ELRC-SHARE, language resources, language tools, ELRC, European Language Resource Coordination{% endblock %}{% endspaceless %}"/>
    <link rel="shortcut icon" href="{{ STATIC_URL }}metashare/images/favicon.ico"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}metashare/css/blueprint/screen.css" type="text/css"
          media="screen, projection">
    <link rel="stylesheet" href="{{ STATIC_URL }}metashare/css/blueprint/print.css" type="text/css" media="print">
    <!--[if lt IE 8]><link rel="stylesheet" href="/site_media/css/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
    <link rel="stylesheet" href="{{ STATIC_URL }}metashare/css/upload.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}metashare/css/screen.css" type="text/css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}metashare/css/typo.css" type="text/css" media="screen">
    <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
    <script src="https://use.fontawesome.com/92573ad434.js"></script>
    <script src="{{ STATIC_URL }}metashare/js/jquery-1.9.1.min.js"></script>
    <script src="{{ STATIC_URL }}metashare/js/jquery.form.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}metashare/js/upload.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}metashare/js/metashare.js"></script>
    <style>
        .menu_fontawesome {
            font-size: 1.4em;
            color: #058dbe;
        }
    </style>
    {% block links %}{% endblock %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    {#    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"#}
    {#            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"#}
    {#            crossorigin="anonymous"></script>#}

</head>
<body style="position: relative;">
{% include 'header.html' %}
<div class="back" style="margin-top: 20px">
    <div style="width: 100% !important; height:450px; text-align: center; background-image: url('{{ STATIC_URL }}metashare/images/iStock_000055931356_XXXLarge_web.jpg'); background-position: center; background-repeat: no-repeat; border-bottom: 1px solid; ">
        <h2 style=" text-align: left; left: 10%; color: white;  font-size: 45px;position:relative;top:170px; text-shadow: 1px 1px #000;">
            {% trans 'Data Contribution' %}</h2></div>
</div>
<div class="overlay"></div>
{% if message %}
    <div class="{{ status }}">{{ message }}</div>
{% endif %}
{% for message in messages %}
    <div class="{{ message.tags }}">{{ message|linebreaksbr }}</div>
{% endfor %}
<noscript>
    <div class="failure">
        {% trans 'Your browser does not support JavaScript!' %}
        <br/>
        {% trans 'Please make sure that you have javascript enabled and refresh the page before proceeding with your contribution.' %}
    </div>
</noscript>
<div class="row">
    <div class="col-md-8">
        <form id="simple_form" name="simple_form" style="margin-left: 15%" class="col-md-7"
              action="{% url 'contribute' %}" method="post"
              data-toggle="validator" enctype="multipart/form-data" encoding="multipart/form-data">
            <!-- Form Name -->
            <legend style="padding:20px">{% trans 'New Resource' %}</legend>
            <!-- Text input-->
            <div class="form-group required">
                <label class="control-label" for="resourceTitle">{% trans 'Resource Title' %}</label>

                <input id="resourceTitle" name="resourceTitle" placeholder="" class="form-control input-md"
                       required=""
                       type="text">
                <span class="help-block contrib-help">{% trans 'The name by which the resource is already known or by which you would like it to be known; e.g. "The GSRT bilingual corpus of Greek-English bulletins"' %}</span>

            </div>
            <!-- Textarea -->
            <div class="form-group">
                <label class="control-label" for="shortDescription">{% trans 'Resource short description' %}</label>
                        <textarea class="form-control" id="shortDescription" name="shortDescription"></textarea>
                <span class="help-block contrib-help">{% blocktrans %}A short description, including any information considered useful about the resource, e.g. whether it's a dataset (collection of documents) or a lexicon, glossary, terminological resource, etc., its size, language(s), classification information (e.g. health reports, news bulletins, lexicon of sports terminology etc.){% endblocktrans %}</span>
            </div>
            <div class="form-group">
                <label class="control-label" for="resourceType">{% trans 'Resource type' %}</label>
                <select name="resourceType">
                    <option value="">------------</option>
                    <option value="corpus">{% trans 'Corpus' %}</option>
                    <option value="langdesc">{% trans 'Language Description' %}</option>
                    <option value="lexicon">{% trans 'Lexical Conceptual Resource' %}</option>
                </select>
                <span class="help-block contrib-help">{% blocktrans %}The type of the resource: can be Corpus, Lexicon, or Language Description. Do not choose anything if you are not sure.{% endblocktrans %}</span>
            </div>

            <!-- Text input-->
            <div class="form-group required">
                <label class="control-label" for="languages">{% trans 'Language(s)' %}</label>
                <div class="language">
                    <select required class="form-control" multiple style="padding: 6px; height:200px"
                            name="languages[]"
                            id="languages">
                        <option value="Bulgarian">{% trans 'Bulgarian' %}</option>
                        <option value="Czech">{% trans 'Czech' %}</option>
                        <option value="Croatian">{% trans 'Croatian' %}</option>
                        <option value="Danish">{% trans 'Danish' %}</option>
                        <option value="Dutch; Flemish">{% trans 'Dutch; Flemish' %}</option>
                        <option value="English">{% trans 'English' %}</option>
                        <option value="Estonian">{% trans 'Estonian' %}</option>
                        <option value="Finnish">{% trans 'Finnish' %}</option>
                        <option value="French">{% trans 'French' %}</option>
                        <option value="German">{% trans 'German' %}</option>
                        <option value="Hungarian">{% trans 'Hungarian' %}</option>
                        <option value="Icelandic">{% trans 'Icelandic' %}</option>
                        <option value="Irish">{% trans 'Irish' %}</option>
                        <option value="Italian">{% trans 'Italian' %}</option>
                        <option value="Latvian">{% trans 'Latvian' %}</option>
                        <option value="Lithuanian">{% trans 'Lithuanian' %}</option>
                        <option value="Maltese">{% trans 'Maltese' %}</option>
                        <option value="Modern Greek (1453-)">{% trans 'Modern Greek (1453-)' %}</option>
                        <option value="Norwegian Bokmål">{% trans 'Norwegian Bokmål (nb)' %}</option>
                        <option value="Norwegian Nynorsk">{% trans 'Norwegian Nynorsk (nn)' %}</option>
                        <option value="Polish">{% trans 'Polish' %}</option>
                        <option value="Portuguese">{% trans 'Portuguese' %}</option>
                        <option value="Romanian; Moldavian; Moldovan">{% trans 'Romanian; Moldavian; Moldovan' %}</option>
                        <option value="Slovak">{% trans 'Slovak' %}</option>
                        <option value="Slovenian">{% trans 'Slovenian' %}</option>
                        <option value="Spanish; Castilian">{% trans 'Spanish; Castilian' %}</option>
                        <option value="Swedish">{% trans 'Swedish' %}</option>
                    </select>
                    <span class="help-block contrib-help">{% trans 'The language(s) of the resource; for resources with multiple languages, hold down CTRL key to select multiple values' %}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="domains">{% trans 'Domain(s)' %}</label>
                <div class="domain">
                    <div id="tooltip_container"></div>
                    <select class="form-control" multiple style="padding: 6px; height:200px" name="domains[]">
                        <option data-toggle="tooltip" data-html="true" data-container="#tooltip_container" data-trigger="manual" title="Digital resources of European cultural heritage [<a target='_blank' href='https://www.europeana.eu/portal/en'>https://www.europeana.eu/portal/en</a>]" value="Europeana">{% trans 'eCulture' %}</option>
                        <option data-toggle="tooltip" data-html="true" data-container="#tooltip_container" data-trigger="manual" title="Digital resources with relevant information for European national social security systems [<a target='_blank' href='https://ec.europa.eu/cefdigital/wiki/display/CEFDIGITAL/2017/05/30/Electronic+Exchange+of+Social+Security+Information'>https://ec.europa.eu/cefdigital/wiki/display/CEFDIGITAL/2017/05/30/Electronic+Exchange+of+Social+Security+Information</a>]" value="ElectronicExchangeOfSocialSecurityInformation">{% trans 'Electronic Exchange of Social Security Information' %}</option>
                        <option data-toggle="tooltip" data-html="true" data-container="#tooltip_container" data-trigger="manual" title="Digital resources with relevant information for European health services. [<a target='_blank' href='https://ec.europa.eu/cefdigital/wiki/display/CEFDIGITAL/2017/05/30/eHealth'>https://ec.europa.eu/cefdigital/wiki/display/CEFDIGITAL/2017/05/30/eHealth</a>]" value="eHealth">{% trans 'eHealth' %}</option>
                        <option data-toggle="tooltip" data-html="true" data-container="#tooltip_container" data-trigger="manual" title="Digital resources with relevant information for European judicial services. [<a target='_blank' href='https://ec.europa.eu/cefdigital/wiki/display/CEFDIGITAL/2017/05/30/European+e-Justice+Portal'>https://ec.europa.eu/cefdigital/wiki/display/CEFDIGITAL/2017/05/30/European+e-Justice+Portal</a>]" value="eJustice">{% trans 'eJustice' %}</option>
                        <option data-toggle="tooltip" data-html="true" data-container="#tooltip_container" data-trigger="manual" title="Digital resources with relevant information for European procurement services. [<a target='_blank' href='https://ec.europa.eu/cefdigital/wiki/display/CEFDIGITAL/2017/05/30/eProcurement'>https://ec.europa.eu/cefdigital/wiki/display/CEFDIGITAL/2017/05/30/eProcurement</a>]" value="eProcurement">{% trans 'eProcurement' %}</option>
                        <option data-toggle="tooltip" data-html="true" data-container="#tooltip_container" data-trigger="manual" title="Digital resources that can be publically shared to contribute to data re-use in Europe. [<a target='_blank' href='https://ec.europa.eu/cefdigital/wiki/display/CEFDIGITAL/2017/03/13/Public+Open+Data%3A+access+to+re-usable+public+sector+information'>https://ec.europa.eu/cefdigital/wiki/display/CEFDIGITAL/2017/03/13/Public+Open+Data%3A+access+to+re-usable+public+sector+information</a>]" value="OpenDataPortal">{% trans 'Public Open Data' %}</option>
                        <option data-toggle="tooltip" data-html="true" data-container="#tooltip_container" data-trigger="manual" title="Digital resources with relevant information for the establishment of a safer internet for children. [<a target='_blank' href='https://ec.europa.eu/cefdigital/wiki/display/CEFDIGITAL/2017/03/10/Safer+Internet%3A+a+better+and+safer+internet+for+children'>https://ec.europa.eu/cefdigital/wiki/display/CEFDIGITAL/2017/03/10/Safer+Internet%3A+a+better+and+safer+internet+for+children</a>]" value="saferInternet">{% trans 'Safer Internet' %}</option>
                        <option data-toggle="tooltip" data-html="true" data-container="#tooltip_container" data-trigger="manual" title="Digital resources with relevant information for the interconnection of business registers. [<a target='_blank' href='https://ec.europa.eu/cefdigital/wiki/pages/viewpage.action?pageId=46992657'>https://ec.europa.eu/cefdigital/wiki/pages/viewpage.action?pageId=46992657</a>]" value="BusinessRegistersInterconnectionSystem">{% trans 'Business Registers Interconnection System' %}</option>
                        <option data-toggle="tooltip" data-html="true" data-container="#tooltip_container" data-trigger="manual" title="Digital resources with relevant information for Cybersecurity. [<a target='_blank' href='https://ec.europa.eu/cefdigital/wiki/display/CEFDIGITAL/2017/05/30/Cybersecurity'>https://ec.europa.eu/cefdigital/wiki/display/CEFDIGITAL/2017/05/30/Cybersecurity</a>]" value="Cybersecurity">{% trans 'Cybersecurity' %}</option>
                        <option data-toggle="tooltip" data-html="true" data-container="#tooltip_container" data-trigger="manual" title="Digital resources in any field of activity." value="other">{% trans 'Other / Unknown' %}</option>
                    </select>
                    <span class="help-block contrib-help">
                        {% trans 'Domain refers to information that belongs to a specific field of activity (e.g., culture or health) and is related to one of the building blocks of the European digital services indicated in the provided list. Digital resources that do not clearly belong to one of the provided domains can be left as Other/Unknown.' %}
                    </span>
                </div>
            </div>
            <div class="form-group required" id="licence">
                <label class="control-label" for="licence">{% trans 'Licensing conditions' %}</label>
                <select required name="licence">
                    <option value="publicDomain">{% trans 'License-free' %}</option>
                    <option value="CC-BY-4.0">{% trans 'Creative Commons - Attribution 4.0' %}</option>
                    <option value="CC-BY-SA-4.0">{% trans 'Creative Commons - Attribution - ShareAlike 4.0' %}</option>
                    <option value="CC-BY-NC-4.0">{% trans 'Creative Commons - Attribution - NonCommercial 4.0' %}</option>
                    <option value="CC-BY-NC-SA-4.0">{% trans 'Creative Commons - Attribution - NonCommercial - ShareAlike 4.0' %}</option>
                    <option value="non-standard/Other_Licence/Terms">{% trans 'Use External License' %}</option>
                </select>
                <span class="help-block contrib-help">{% blocktrans %}The licensing conditions for the resource.{% endblocktrans %}</span>
            </div>
            <div class="form-group required" id="licencefile" style="display:none">
                <label class="control-label" for="licenceFile">{% trans 'License file' %}</label>
                <input id="licenceFile" name="licenceFile"
                       class="input-file" required=""
                       type="file" accept=".pdf">
                <span class="help-block contrib-help">{% trans 'Please upload license file in the <b>.pdf format</b>.' %}</span>
            </div>

{#            <div class="form-group required">#}
{#                <label class="control-label" for="sensitive-info">Data contains sensitive information</label><br>#}
{#                <select required class="form-control" style="width: 75px"#}
{#                            name="sensitiveInfo"#}
{#                            id="sensitiveInfo">#}
{#                    <option value="">----</option>#}
{#                    <option value="true">YES</option>#}
{#                    <option value="false">NO</option>#}
{#                </select>#}
{#            </div>#}
{#            <div class="form-group required">#}
{#                <label class="control-label" for="personal-info">Data contains personal information</label><br>#}
{#                <select required class="form-control" style="width: 75px"#}
{#                            name="personalInfo"#}
{#                            id="personalInfo">#}
{#                    <option value="">----</option>#}
{#                    <option value="true">YES</option>#}
{#                    <option value="false">NO</option>#}
{#                </select>#}
{#            </div>#}
            <!-- File Button -->
            <div class="form-group required" id="fileupload">
                <label class="control-label" for="filebutton">{% trans 'Upload Resource' %}</label>
                <input multiple accept=".zip,.doc,.docx,.odt,.pdf,.tmx,.sdltm,.xml,.tbx,.xls,.xlsx,.txt" id="filebutton" name="filebutton" class="input-file" type="file"
                       required="">
                <span class="help-block contrib-help">{% trans 'Please upload a <strong>.zip, .doc(x), .odt, .tmx, .sdltm, .xml, .tbx, .xls(x), or .txt file</strong> up to 100MB.' %}
                    </br>
                    {% trans 'In case the file you wish to upload is larger than 100MB, please contact us to provide an SFTP link for direct download or consider uploading smaller files' %}
                </span>
            </div>
            <!-- Group selection -->
            <div class="form-group required">
                <label class="control-label" for="groups">{% trans 'Group(s)' %}</label>
                <div class="group">
                    <select required class="form-control" multiple style="padding: 6px; height:200px"
                            name="groups[]"
                            id="groups">
                        {% for group_name, group_id in groups %}
                        <option value="{{ group_id }}">{% blocktrans %} {{ group_name }} {% endblocktrans %}</option>
                        {% endfor %}
                    </select>
                    <span class="help-block contrib-help">{% trans 'The group(s) the language resource is shared with.' %}</span>
                </div>
            </div>
            <div class="form-group required" id="accept_tos">
                {% static "metashare/LR-Upload-ToS.pdf" as lr_upload_tos %}
                <input type="checkbox" name="accepttos" value="true" required="">{% blocktrans %}I agree with the <a target="_blank" href="{{ lr_upload_tos }}">Language resource upload Terms of Service for Data Holders</a>{% endblocktrans %}<br>
            </div>
            <!-- Button (Double) -->
            <div class="form-group">
                <label class="control-label" for="submit"></label>
                <div>
                    {#                <button#}
                    {#                        onclick="$('#simple_form').trigger('submit');"#}
                    {#                        name="submit_form" value="submit"#}
                    {#                        id="submit" type="submit"#}
                    {#                        class="btn btn-success">Submit</button>#}
                    <input type="submit" value="{% trans 'Submit' %}" name="submit" class="btn btn-success"/>
                    <button id="reset" type="reset" class="btn btn-warning">{% trans 'Reset' %}</button>
                </div>
            </div>
            {% csrf_token %}
        </form>
    </div>
</div>
<div class="uploadWin">
    <div id="status" style="padding: 3px;"></div>
    <div class="progress">
        <div class="bar"></div>
        <div class="percent">0%</div>
    </div>
    <div id="okbtn">
        <button class="btn btn-success btn-sm" id="ok" onclick="resetMessages()">OK
        </button>
    </div>
</div>
{% include "footer.html" %}
</body>
</html>
