{% load static from staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% spaceless %}{% block title %}ELRC-SHARE Repository{% endblock %}{% endspaceless %}</title>
    <meta name="description" content="{% spaceless %}{% block description %}ELRC-SHARE: a repository used for documenting, storing, browsing and accessing Language Resources.{% endblock %}{% endspaceless %}"/>
    <meta name="keywords" content="{% spaceless %}{% block keywords %}ELRC-SHARE, language resources, language tools, ELRC, European Language Resource Coordination{% endblock %}{% endspaceless %}"/>
    <link rel="shortcut icon" href="{{ STATIC_URL }}metashare/images/favicon.ico"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}metashare/css/blueprint/screen.css" type="text/css"
          media="screen, projection">
    <link rel="stylesheet" href="{{ STATIC_URL }}metashare/css/blueprint/print.css" type="text/css" media="print">
    <!--[if lt IE 8]><link rel="stylesheet" href="/site_media/css/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
    <link rel="stylesheet" href="{{ STATIC_URL }}metashare/css/upload.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}metashare/css/screen.css" type="text/css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}metashare/css/typo.css" type="text/css" media="screen">
    <script src="https://use.fontawesome.com/92573ad434.js"></script>
    <script src="{{ STATIC_URL }}metashare/js/jquery-1.9.1.min.js"></script>
    <script src="{{ STATIC_URL }}metashare/js/jquery.form.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}metashare/js/upload.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}metashare/js/metashare.js"></script>
    <style>
        .menu_fontawesome {
            font-size: 1.4em;
            color: #058dbe;
        }

        #edelivery_modal p, li {
            font-family: Arial, serif;
            font-size: 16px;
            line-height: 1.5;
            color: #474747;
        }
    </style>
    {% block links %}{% endblock %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    {#    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"#}
    {#            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"#}
    {#            crossorigin="anonymous"></script>#}

</head>
<body style="position: relative;">
{% include 'header.html' %}
<div class="back" style="margin-top: 20px">
    <div style="width: 100% !important; height:450px; text-align: center; background-image: url('{{ STATIC_URL }}metashare/images/iStock_000055931356_XXXLarge_web.jpg'); background-position: center; background-repeat: no-repeat; border-bottom: 1px solid; ">
        <h2 style=" text-align: left; left: 10%; color: white;  font-size: 45px;position:relative;top:170px; text-shadow: 1px 1px #000;">
            Data Contribution</h2></div>
</div>
<div class="overlay"></div>
{% if message %}
    <div class="{{ status }}">{{ message }}</div>
{% endif %}
{% for message in messages %}
    <div class="{{ message.tags }}">{{ message|linebreaksbr }}</div>
{% endfor %}
<noscript>
    <div class="failure">
        Your browser does not support JavaScript!
        <br/>
        Please make sure that you have javascript enabled and refresh the page before proceeding with your
        contribution.
    </div>
</noscript>
<div class="row">
    <div class="col-md-8">
        <form id="simple_form" name="simple_form" style="margin-left: 15%" class="col-md-7"
              action="{% url 'contribute' %}" method="post"
              data-toggle="validator" enctype="multipart/form-data" encoding="multipart/form-data">
            <!-- Form Name -->
            <legend style="padding:20px">New Resource</legend>
            <!-- Text input-->
            <div class="form-group required">
                <label class="control-label" for="resourceTitle">Resource Title</label>

                <input id="resourceTitle" name="resourceTitle" placeholder="" class="form-control input-md"
                       required=""
                       type="text">
                <span class="help-block contrib-help">The name by which the resource is already known or by which you would like it to be known; e.g. "The GSRT bilingual corpus of Greek-English bulletins"</span>

            </div>
            <!-- Textarea -->
            <div class="form-group required">
                <label class="control-label" for="shortDescription">Resource short description</label>
                        <textarea class="form-control" id="shortDescription" name="shortDescription"
                                  required=""></textarea>
                <span class="help-block contrib-help">A short description, including any information considered useful about the resource, e.g. whether it's a dataset (collection of documents) or a lexicon, glossary, terminological resource, etc., its size, language(s), classification information (e.g. health reports, news bulletins, lexicon of sports terminology etc.)</span>
            </div>
            <!-- Text input-->
            <div class="form-group required">
                <label class="control-label" for="languages">Language(s)</label>
                <div class="language">
                    <select required class="form-control" multiple style="padding: 6px; height:200px"
                            name="languages[]"
                            id="languages">
                        <option value="Bulgarian">Bulgarian</option>
                        <option value="Czech">Czech</option>
                        <option value="Croatian">Croatian</option>
                        <option value="Danish">Danish</option>
                        <option value="Dutch; Flemish">Dutch; Flemish</option>
                        <option value="English">English</option>
                        <option value="Estonian">Estonian</option>
                        <option value="Finnish">Finnish</option>
                        <option value="French">French</option>
                        <option value="German">German</option>
                        <option value="Hungarian">Hungarian</option>
                        <option value="Icelandic">Icelandic</option>
                        <option value="Irish">Irish</option>
                        <option value="Italian">Italian</option>
                        <option value="Latvian">Latvian</option>
                        <option value="Lithuanian">Lithuanian</option>
                        <option value="Maltese">Maltese</option>
                        <option value="Modern Greek (1453-)">Modern Greek (1453-)</option>
                        <option value="Norwegian Bokmål">Norwegian Bokmål (nb)</option>
                        <option value="Norwegian Nynorsk">Norwegian Nynorsk (nn)</option>
                        <option value="Polish">Polish</option>
                        <option value="Portuguese">Portuguese</option>
                        <option value="Romanian; Moldavian; Moldovan">Romanian; Moldavian; Moldovan</option>
                        <option value="Slovak">Slovak</option>
                        <option value="Slovenian">Slovenian</option>
                        <option value="Spanish; Castilian">Spanish; Castilian</option>
                        <option value="Swedish">Swedish</option>
                    </select>
                    <span class="help-block contrib-help">The language(s) of the resource; for resources with multiple languages, hold down CTRL key to select multiple values</span>
                </div>
            </div>
{#            <div class="form-group required">#}
{#                <label class="control-label" for="sensitive-info">Data contains sensitive information</label><br>#}
{#                <select required class="form-control" style="width: 75px"#}
{#                            name="sensitiveInfo"#}
{#                            id="sensitiveInfo">#}
{#                    <option value="">----</option>#}
{#                    <option value="true">YES</option>#}
{#                    <option value="false">NO</option>#}
{#                </select>#}
{#            </div>#}
{#            <div class="form-group required">#}
{#                <label class="control-label" for="personal-info">Data contains personal information</label><br>#}
{#                <select required class="form-control" style="width: 75px"#}
{#                            name="personalInfo"#}
{#                            id="personalInfo">#}
{#                    <option value="">----</option>#}
{#                    <option value="true">YES</option>#}
{#                    <option value="false">NO</option>#}
{#                </select>#}
{#            </div>#}
            <div class="form-group required" id="contributionmode">
                <label class="control-label" for="contributionmode">Contribution Mode</label><br>
                <input type="radio" name="mode" value="uploadzip" checked> Upload ZIP archive<br>
                <input type="radio" name="mode" value="url"> Provide URL of resources<br>
                <input type="radio" name="mode" value="eDelivery"> eDelivery (Generate XML file to attach to your
                eDelivery contribution)<br>
                <span class="help-block contrib-help">Please select the way you wish to contribute your data. Uploading a ZIP archive is recommended.</span>
            </div>
            <!-- File Button -->
            <div class="form-group required" id="fileupload">
                <label class="control-label" for="filebutton">Upload Resource</label>
                <input accept=".zip" id="filebutton" name="filebutton" class="input-file" type="file"
                       required="">
                <span class="help-block contrib-help">Please upload a <strong>.zip file</strong> up to 100MB.
                    </br>
                    In case the <strong>.zip file</strong> file you wish to upload is larger than 100MB, please contact
                    <a href="mailto:elrc-share@ilsp.gr">elrc-share@ilsp.gr</a>
                </span>
            </div>
            <div class="form-group required" id="resourceurl" style="display: none">
                <label class="control-label" for="resourceUrl">Resource URL</label>
                <input id="resourceUrl" name="resourceUrl" placeholder="" class="form-control input-md"
                       required=""
                       type="text">
                <span class="help-block contrib-help">Please provide a URL containing the files you wish to contribute</span>
            </div>
            <!-- Button (Double) -->
            <div class="form-group">
                <label class="control-label" for="submit"></label>
                <div>
                    {#                <button#}
                    {#                        onclick="$('#simple_form').trigger('submit');"#}
                    {#                        name="submit_form" value="submit"#}
                    {#                        id="submit" type="submit"#}
                    {#                        class="btn btn-success">Submit</button>#}
                    <input type="submit" value="Submit" name="submit" class="btn btn-success"/>
                    <button id="reset" type="reset" class="btn btn-warning">Reset</button>
                </div>
            </div>
            {% csrf_token %}
        </form>
    </div>
    <div class="col-md-4" style="margin-top: 90px; margin-left: -10%;">
        <div class="row">
            <div class="col-md-8">
                <img src="{{ STATIC_URL }}metashare/images/eDelivery.png" alt="">
            </div>
            <div class="col-md-10" style="margin: 0 10% 0 0;">
                {#            <img src="{{ STATIC_URL }}metashare/images/cef_digital.svg" alt="">#}
                <h4>Contribute Your Data Through eDelivery</h4>
                <div>
                    If you wish to share your data through
                    <a href="https://ec.europa.eu/cefdigital/wiki/display/CEFDIGITAL/eDelivery" target="_blank">
                        eDelivery
                    </a>, you can use the ELRC-SHARE CEF eDelivery Access Point.
                    For more information click <a data-toggle="modal" href="#edelivery_modal">here</a>.
                    <p>In such a case, please fill in the form on the left
                        and choose eDelivery in the Contribution mode.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="uploadWin">
    <div id="status" style="padding: 3px;"></div>
    <div class="progress">
        <div class="bar"></div>
        <div class="percent">0%</div>
    </div>
    <div id="okbtn">
        <button class="btn btn-success btn-sm" id="ok" onclick="resetMessages()">OK
        </button>
    </div>
</div>
<div class="modal fade" id="edelivery_modal" role="dialog">
    <div class="modal-dialog" style="width:50%; font-size: 16px">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background-color: rgba(15, 141, 187, 0.62)">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">ELRC-SHARE eDelivery Help</h4>
            </div>
            <div class="modal-body">
                <p>
                    The ELRC-SHARE repository adopts the
                    <a href="https://ec.europa.eu/cefdigital/wiki/display/CEFDIGITAL/Domibus+-+v3.3"
                       target="_blank">Domibus</a> implementation
                    of the eDelivery Building Block and it is available to accept payloads from your existing eDelivery
                    Access Point.
                </p>
                <p>
                    The ELRC-SHARE Access Point accepts messages containing <strong>two files as attachments</strong>:
                <ol>
                    <li>an xml description of your dataset<b>*</b></li>
                    <li>the actual dataset in zip format, up to 400MB</li>
                </ol>
                </p>
                <p>
                    Before you can use the service, we need to add your Access Point to the ELRC-SHARE eDelivery trusted
                    network. For trust to be established the following information is required:
                <table class="table-striped">
                    <tr>
                        <td><strong>MSH Endpoint</strong></td>
                        <td>The endpoint of your Access Point</td>
                    </tr>
                    <tr>
                        <td><strong>Gateway Party Name</strong></td>
                        <td>The name of your Access Point's Gateway</td>
                    </tr>
                    <tr>
                        <td><strong>Gateway Party ID</strong></td>
                        <td>The identifier of your Access Point's Gateway</td>
                    </tr>
                    <tr>
                        <td><strong>Public Certificate</strong></td>
                        <td>Your Access Point's X.509 public certificate (.crt, .cert, .cer)</td>
                    </tr>
                </table>
                </p>
                <p>
                    Once your application to join the ELRC-SHARE eDelivery trusted network is approved,
                    the required ELRC-SHARE Access Point information will be emailed to you.
                    Include this information in your Access Point configuration and complete the
                    process of trust establishment. From this point onwards, you can send your
                    data to the ELRC-SHARE Access Point using your implementation specific software.
                </p>
                <p>
                    Apply for eDelivery <a href="/accounts/edelivery_membership_application/">here</a>.
                </p>
                <p>
                    <strong>*</strong><em>The xml file is automatically generated and downloaded on your computer,
                    once you fill in the required fields on the contribution form  and select the
                    <strong>eDelivery</strong> contribution mode.</em>
                </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
{% include "footer.html" %}
</body>
</html>