{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% blocktrans %}{{ resource }} &ndash; Contact Resource Maintainer &ndash; ELRI{% endblocktrans %}
{% endblock %}
{% block content %}
    <h2>{% trans 'Contact Resource Maintainer' %}</h2>
    <div class="content_box">
        <form class="form_helper" action="{% url 'download_contact' resource.storage_object.identifier %}"
              method="post">
            <table>
                <tr>
                    <th><label>{% trans 'Resource name' %}</label></th>
                    <td class="readonly">{{ resource }}</td>
                </tr>
                <tr>
                    <th><label>{% blocktrans %}Resource contact name{{ resourceContactName|pluralize }}{% endblocktrans %}</label></th>
                    <td class="readonly">{{ resourceContactName|join:", " }}</td>
                </tr>
                <tr>
                    <th><label>{% blocktrans %}Resource contact email{{ resourceContactEmail|pluralize }}{% endblocktrans %}</label></th>
                    <td class="readonly">{{ resourceContactEmail|join:", " }}</td>
                </tr>
                <tr>
                    <th><label>{% blocktrans %}Your username{% endblocktrans %}</label></th>
                    <td class="readonly">{{ user.username }}</td>
                </tr>
                <tr>
                    <th><label>{% blocktrans %}Your name{% endblocktrans %}</label></th>
                    <td class="readonly">{{ user.first_name }} {{ user.last_name }}</td>
                </tr>
                {{ form.as_table }}
                <tr>
                    <th></th>
                    <td>
                        <button class="button middle_button">
                            <i class="fa fa-envelope" aria-hidden="true"></i> {% trans 'Send' %}
                        </button>
                    </td>
                </tr>
            </table>
        </form>
        <div>
            <a href="javascript:history.back();">
                <button class="span-4 button middle_button">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i> {% trans 'Resource Download' %}
                </button>
            </a>
        </div>
        <br/>
        <br/>
    </div>
{% endblock %}
