{% extends "base.html" %}
{% load replace i18n %}
{% block title %}
    {{ resource }} &ndash; {% trans 'Download Licence Agreement' %} &ndash; ELRI
{% endblock %}

{% block content %}
    <h2>{{ resource }}</h2>
    <div class="content_box">
        {% if licence_path  or not licence_name == "" or l_url or l_name %}
            <h3>{% trans 'Licence Agreement' %} &ndash;
                {% if licence_name %}{{ licence_name|pretty_camel }}
                {% else %}
                    {% if l_name %}
                        {{ l_name }}
                    {% endif %}
                {% endif %}
            </h3>
            <div class="licence_text">
                {% if licence_path %}
                    <iframe src="{{ licence_path }}" width="100%" height="400"><a href="{{ licence_path }}">
                        {% trans 'View licence' %}</a>
                    </iframe>
                {% else %}
                    {% if l_url %}
                        <iframe src="{{ l_url }}" width="850" height="400"><a href="{{ l_url }}">{% trans 'View licence' %}</a>
                        </iframe>
                    {% else %}
                        {% if l_text %}
                            <div style="border: thin solid; padding: 5px; border-radius: 5px">
                                {% for t in l_text %}
                                    <p>{{ t|linebreaksbr }}</p>
                                {% endfor %}
                            </div>
                        {% else %}
                            {% if licence_name == "non-standard/Other_Licence/Terms" and not l_text %}
                                <div style="border: thin solid; padding: 5px; border-radius: 5px">
                                    <h3>{% trans 'Conditions of Use' %}</h3>
                                    <ul>
                                        {% for r in l_conditions %}
                                            <li>{{ r|pretty_camel}}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
            <div class="licence_agreement_form">
                {% if not request.user.is_authenticated %}
                    <div style="font-size: 1.25em; font-weight: bold;background: #f2e89db3;padding: 10px;margin-top: 10px;border-radius: 5px;">{% blocktrans %}Stay in touch with ELRI!
                    Register <a target="_blank" href="/accounts/create">here</a>.{% endblocktrans %}</div>
                {% endif %}
                {% if not download_available %}
                    <p>
                        {% blocktrans %}Please contact the resource maintainer for more information on how to
                        obtain the selected resource under these license terms{% endblocktrans %}
                    </p>
                {% else %}
                    <form action="{% url 'download' resource.storage_object.identifier %}" method="post">
                        {% csrf_token %}
                        <br/>
                        {{ form.as_p }}
                        <button class="span-4 button middle_button">
                            <i class="fa fa-download" aria-hidden="true"></i> {% trans 'Download' %}
                        </button>
                    </form>
                {% endif %}
                <a href="{{ resource.get_absolute_url }}">
                    <button class="span-4 button middle_button">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i> {% trans 'Resource View' %}
                    </button>
                </a>
                <a href="{% url 'download_contact' resource.storage_object.identifier %}">
                    <button class="span-4 button middle_button">
                        <i class="fa fa-envelope" aria-hidden="true"></i> {% trans 'Contact Resource Maintainer' %}
                    </button>
                </a>
            </div>
        {% endif %}
        <br/>
        <br/>
    </div>
{% endblock %}
