{% extends "base.html" %}
{% load i18n %}
{% block title %}
{{ resource }} &ndash; {% trans 'Download Licence Selection' %} &ndash; ELRI
{% endblock %}
{% block content %}    
<h2>{{ resource }}</h2>
<div class="content_box">
  <h3>{% trans 'Choose a Licence for the Resource Download' %}</h3>
  <form action="." method="post" id="licence_sel_form">
    {{ form }}
    <table>
      <tr><th><input class="span-8 button middle_button" type="submit" value="{% trans 'Select Licence' %}" /></th><td><a href="{% url 'download_contact' resource.storage_object.identifier %}"><input type="button" class="span-8 button middle_button" value="{% trans 'Contact Resource Maintainer' %}" /></a></td></tr>
    </table>
  </form>
</div>
{% endblock %}
