{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {{ resource }} &ndash; {% trans 'Download not Possible' %} &ndash; ELRI
{% endblock %}
{% block content %}
    <h2>{{ resource }}</h2>
    <div class="content_box">
        {% if reason == "no_suitable_license" %}
            <h3>{% trans 'Resource Access Restricted' %}</h3>
            <p>{% trans 'Access to the selected resource is restricted.' %}</p>
            <p>{% trans 'Please contact the resource maintainer for information on how to obtain a copy of this resource.' %}</p>
        {% else %}
            <h3>{% trans 'No Download Available' %}</h3>
            <p>{% blocktrans %}We&rsquo;re afraid the selected resource is currently not available for download. This problem may be
                temporary due to network connection problems or internal errors. Trying again later might solve the
                problem.{% endblocktrans %}</p>
            <p>{% trans 'Please contact the resource maintainer if this problem should persist.' %}</p>
        {% endif %}
        {% if resource %}
            <p>
                <a href="{{ resource.get_absolute_url }}">
                    <button class="span-4 button middle_button">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i> {% trans 'Resource View' %}
                    </button>
                </a>
                    <a href="{% url 'download_contact' resource.storage_object.identifier %}">
                        <button class="span-4 button middle_button">
                            <i class="fa fa-envelope" aria-hidden="true"></i> {% trans 'Contact Resource Maintainer' %}
                        </button>
                    </a>
            </p>
        {% endif %}
        <br />
        <br />
    </div>
{% endblock %}
