{% load i18n %}

{% blocktrans %}Dear {% endblocktrans %} {{username}} {{usersurname}},

{% blocktrans %}Your resource {{resourcename}} has been published on the ELRI National Relay Station. You can now log into our website {{ nodeurl }} and download your prepared resource via the Browse page. {% endblocktrans %}

{% blocktrans %}Thank you for using the ELRI services, do not hesitate to contact us for any enquiries.{% endblocktrans %}

{% blocktrans %}Best regards,{% endblocktrans %}

{% blocktrans %}The ELRI team {% endblocktrans %}
