{% extends "base.html" %}
{% load i18n %}
{% block title %}
  {% trans 'Redirecting to Download Node' %}&nbsp;&hellip; &ndash; ELRI
{% endblock %}

{% block content %}
{% spaceless %}
<script type="text/javascript">
  setTimeout('window.location.replace("{{ redirection_url }}")', 6000);
</script>

<h2>{% trans 'Redirecting to Download Node' %}&nbsp;&hellip;</h2>
<div class="content_box">
  <p>
    {% if resource.storage_object.source %}
      {% blocktrans with storage_source=resource.storage_object.source %}You cannot download the selected resource on the current META-SHARE node as
        it has originally been provided
        by {{ storage_source }}.
      You will now be redirected to the META-SHARE Node where the resource data is
      available.{% endblocktrans %}
    {% else %}

        {% blocktrans with storage_url=resource.storage_object.source_url %}You cannot download the selected resource on the current META-SHARE node as
        it has originally been provided at {{ storage_url }}. You will now be redirected to the META-SHARE Node where the resource data is
      available.{% endblocktrans %}

    {% endif %}
  </p>
  <p>
    {% blocktrans %}<a href="{{ redirection_url }}">Click here</a> to immediately go to the
    other node.{% endblocktrans %}
  </p>
</div>
{% endspaceless %}
{% endblock %}
