{% extends 'base.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% block title %}
{% trans 'Search and Browse' %} &ndash; ELRI
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static "metashare/css/results.css" %}" type="text/css" media="screen" />
{% endblock %}

{% block content %}
{% spaceless %}
<script language="javascript">
$(document).ready(function(){
  $("div.filter").each(function() {
    var allDds = $(this).children("div").not('.subresult').nextUntil("div.accordion");
    if (allDds.length > 4) {{# for 5 or less items we don't want to collapse, however, including the "more" link we would like to have at most 5 <div>s #}
    var hideableDds = allDds.has("a.addableFacet");{# never hide selected facet items #}
    if (hideableDds.length > 1) {{# don't replace a single item with a "more" link #}
        hiddenDds = hideableDds.slice(
          Math.max(0, 4 - (allDds.length - hideableDds.length))).hide();
        var moreTxt = 'more', lessTxt = 'less';
        hiddenDds.last().after($("<div><a href='#'>" + moreTxt + "</a></div>")
            .children().first().click({hiddenDds: hiddenDds}, function(e) {
                e.preventDefault();
                $(this).text($(this).text() == moreTxt ? lessTxt : moreTxt);
                e.data.hiddenDds.slideToggle();
              }).parent());
      }
    }
  });
  $("div.filter").hide();
  $("div.accordion").each(function(){
      $(this).next("div.filter").find("a.removableFacet").parents("div.filter").show();
      addStatus($(this));
  });

  $("div.accordion.expanded").each(function(){
    if( $(this).next("div.filter").find("a.removableFacet").length > 0 ){
        $(this).addClass("selected");
    }
  });

  $("div.accordion").click(function() {
      if($(this).next("div.filter").attr("style") == "display: none;" ){
          $(this).addClass('expanded');
          $(this).removeClass('collapsed');}
      else {
          $(this).addClass('collapsed');
          $(this).removeClass('expanded');
      }
      $(this).next("div.filter").slideToggle();
  });
});

function addStatus(filter){
  if(filter.next("div.filter").attr("style") == "display: none;" ){
    filter.addClass('collapsed');
    filter.removeClass('expanded');
  }
  else{
    filter.addClass('expanded');
    filter.removeClass('collapsed');
  }
}
</script>


<div class="searchbox">
  <form class="form_helper" id="searchbox" action="." method="get">
    {{ form.non_field_errors }}
    <table>
      <tr>
        <td><img style="width:100px; height:98px;" src="{% static "metashare/images/elri-logo-small.png" %}" /></td>
        <td>{{ form.q }}</td>
        <td><input id="search_button" class="button middle_button" type="submit" value="{% trans 'Search' %}" /></td>
      </tr>
    </table>
  </form>
</div>  


<div class="left_box">
  <div class="filters">
    <h4>{% trans 'Filter by:' %}</h4>
    <div id="searchFilters">
    {% for filter in filters %}
      {% include "repository/filter.html" with filter=filter %}
    {% endfor %}
    </div>
  </div>

  <div class="explanation_box">
    <div class="explanation">
        <h4>{% trans 'Resource Type:' %}</h4>
        <table id="resource_type">
            <tr>
                <td width="120">{% trans 'Corpus:' %}</td>
                <td><img src="{% static "metashare/css/sexybuttons/images/icons/silk/database_yellow.png" %}" /></td>
            </tr>
            <tr>
                <td width="120">{% trans 'Lexical/Conceptual:' %}</td>
                <td><img src="{% static "metashare/css/sexybuttons/images/icons/silk/text_ab.png" %}" /></td>
            </tr>
            <tr>
                <td width="120">{% trans 'Language Description:' %}</td>
                <td><img src="{% static "metashare/css/sexybuttons/images/icons/silk/script.png" %}" /></td>
            </tr>
            <tr>
                <td width="120">{% trans 'Tool/Service:' %}</td>
                <td><img src="{% static "metashare/css/sexybuttons/images/icons/silk/page_white_gear.png" %}" /></td>
            </tr>
            </table>
    </div>
  </div>
</div>

<div class="content_box">          

  <h3>{% blocktrans count cnt=paginator.count %} {{ cnt }} Language Resource {% plural %} {{ cnt }} Language Resources {%endblocktrans%} 
{% if paginator.num_pages > 1 %}{% blocktrans with pgnum=page.number numpgs=paginator.num_pages %}(Page {{ pgnum }} of {{ numpgs }}){% endblocktrans %}{% endif %}</h3>
  
  {% if page.object_list %}

    <p>
    {% if page.has_other_pages %}
      {% if page.has_previous %}<a href="?q={{ query|urlencode }}{% for key, values in request.GET.iterlists %}{% if key == 'selected_facets' %}{% for facet in values %}&amp;selected_facets={{ facet|urlencode }}{% endfor %}{% endif %}{% if key == 'sort' %}&amp;sort={{values.0}}{% endif %}{% endfor %}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo;&nbsp;{% trans 'Previous' %}{% if page.has_previous %}</a>{% endif %} |
      {% if page.has_next %}<a href="?q={{ query|urlencode }}{% for key, values in request.GET.iterlists %}{% if key == 'selected_facets' %}{% for facet in values %}&amp;selected_facets={{ facet|urlencode }}{% endfor %}{% endif %}{% if key == 'sort' %}&amp;sort={{values.0}}{% endif %}{% endfor %}&amp;page={{ page.next_page_number }}">{% endif %}{% trans 'Next' %}&nbsp;&raquo;{% if page.has_next %}</a>{% endif %}
    {% endif %}
    <span style="float:right;">{% trans 'Order by:' %}
      <select name="ordering" onChange="window.location.href=this.value;">
        <option value="?q={{ query|urlencode }}{% for key, values in request.GET.iterlists %}{% if key == 'selected_facets' %}{% for facet in values %}&amp;selected_facets={{ facet|urlencode }}{% endfor %}{% endif %}{% endfor %}&amp;sort=resourcename_asc" {% if 'sort' in request.GET %}{% for key, values in request.GET.iterlists %}{% if key == 'sort' %}{% if values.0 == "resourcename_asc" %} selected=true{% endif %}{% endif %}{% endfor %}{% endif %}>{% trans 'Resource Name A-Z' %}</option>
        <option value="?q={{ query|urlencode }}{% for key, values in request.GET.iterlists %}{% if key == 'selected_facets' %}{% for facet in values %}&amp;selected_facets={{ facet|urlencode }}{% endfor %}{% endif %}{% endfor %}&amp;sort=resourcename_desc" {% if 'sort' in request.GET %}{% for key, values in request.GET.iterlists %}{% if key == 'sort' %}{% if values.0 == "resourcename_desc" %} selected=true{% endif %}{% endif %}{% endfor %}{% endif %}>{% trans 'Resource Name Z-A' %}</option>
        <option value="?q={{ query|urlencode }}{% for key, values in request.GET.iterlists %}{% if key == 'selected_facets' %}{% for facet in values %}&amp;selected_facets={{ facet|urlencode }}{% endfor %}{% endif %}{% endfor %}&amp;sort=resourcetype_asc" {% if 'sort' in request.GET %}{% for key, values in request.GET.iterlists %}{% if key == 'sort' %}{% if values.0 == "resourcetype_asc" %} selected=true{% endif %}{% endif %}{% endfor %}{% endif %}>{% trans 'Resource Type A-Z' %}</option>
        <option value="?q={{ query|urlencode }}{% for key, values in request.GET.iterlists %}{% if key == 'selected_facets' %}{% for facet in values %}&amp;selected_facets={{ facet|urlencode }}{% endfor %}{% endif %}{% endfor %}&amp;sort=resourcetype_desc" {% if 'sort' in request.GET %}{% for key, values in request.GET.iterlists %}{% if key == 'sort' %}{% if values.0 == "resourcetype_desc" %} selected=true{% endif %}{% endif %}{% endfor %}{% endif %}>{% trans 'Resource Type Z-A' %}</option>
        <option value="?q={{ query|urlencode }}{% for key, values in request.GET.iterlists %}{% if key == 'selected_facets' %}{% for facet in values %}&amp;selected_facets={{ facet|urlencode }}{% endfor %}{% endif %}{% endfor %}&amp;sort=mediatype_asc" {% if 'sort' in request.GET %}{% for key, values in request.GET.iterlists %}{% if key == 'sort' %}{% if values.0 == "mediatype_asc" %} selected=true{% endif %}{% endif %}{% endfor %}{% endif %}>{% trans 'Media Type A-Z' %}</option>
        <option value="?q={{ query|urlencode }}{% for key, values in request.GET.iterlists %}{% if key == 'selected_facets' %}{% for facet in values %}&amp;selected_facets={{ facet|urlencode }}{% endfor %}{% endif %}{% endfor %}&amp;sort=mediatype_desc" {% if 'sort' in request.GET %}{% for key, values in request.GET.iterlists %}{% if key == 'sort' %}{% if values.0 == "mediatype_desc" %} selected=true{% endif %}{% endif %}{% endfor %}{% endif %}>{% trans 'Media Type Z-A' %}</option>
        <option value="?q={{ query|urlencode }}{% for key, values in request.GET.iterlists %}{% if key == 'selected_facets' %}{% for facet in values %}&amp;selected_facets={{ facet|urlencode }}{% endfor %}{% endif %}{% endfor %}&amp;sort=languagename_asc" {% if 'sort' in request.GET %}{% for key, values in request.GET.iterlists %}{% if key == 'sort' %}{% if values.0 == "languagename_asc" %} selected=true{% endif %}{% endif %}{% endfor %}{% endif %}>{% trans 'Language Name A-Z' %}</option>
        <option value="?q={{ query|urlencode }}{% for key, values in request.GET.iterlists %}{% if key == 'selected_facets' %}{% for facet in values %}&amp;selected_facets={{ facet|urlencode }}{% endfor %}{% endif %}{% endfor %}&amp;sort=languagename_desc" {% if 'sort' in request.GET %}{% for key, values in request.GET.iterlists %}{% if key == 'sort' %}{% if values.0 == "languagename_desc" %} selected=true{% endif %}{% endif %}{% endfor %}{% endif %}>{% trans 'Language Name Z-A' %}</option>
        <option value="?q={{ query|urlencode }}{% for key, values in request.GET.iterlists %}{% if key == 'selected_facets' %}{% for facet in values %}&amp;selected_facets={{ facet|urlencode }}{% endfor %}{% endif %}{% endfor %}&amp;sort=dl_count_desc" {% if 'sort' in request.GET %}{% for key, values in request.GET.iterlists %}{% if key == 'sort' %}{% if values.0 == "dl_count_desc" %} selected=true{% endif %}{% endif %}{% endfor %}{% endif %}>{% trans 'Number of Downloads' %}</option>
        <option value="?q={{ query|urlencode }}{% for key, values in request.GET.iterlists %}{% if key == 'selected_facets' %}{% for facet in values %}&amp;selected_facets={{ facet|urlencode }}{% endfor %}{% endif %}{% endfor %}&amp;sort=view_count_desc" {% if 'sort' in request.GET %}{% for key, values in request.GET.iterlists %}{% if key == 'sort' %}{% if values.0 == "view_count_desc" %} selected=true{% endif %}{% endif %}{% endfor %}{% endif %}>{% trans 'Number of Views' %}</option>
      </select>
    </span>
    </p>
  
    <div class="results">
    {% for result in page.object_list %}                  
      {{ result.rendered_result|safe }}                  
    {% endfor %}
    </div>

    {% if page.has_other_pages %}
      <p>
        {% if page.has_previous %}<a href="?q={{ query|urlencode }}{% for key, values in request.GET.iterlists %}{% if key == 'selected_facets' %}{% for facet in values %}&amp;selected_facets={{ facet|urlencode }}{% endfor %}{% endif %}{% if key == 'sort' %}&amp;sort={{values.0}}{% endif %}{% endfor %}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo;&nbsp;{% trans 'Previous' %}{% if page.has_previous %}</a>{% endif %} |
        {% if page.has_next %}<a href="?q={{ query|urlencode }}{% for key, values in request.GET.iterlists %}{% if key == 'selected_facets' %}{% for facet in values %}&amp;selected_facets={{ facet|urlencode }}{% endfor %}{% endif %}{% if key == 'sort' %}&amp;sort={{values.0}}{% endif %}{% endfor %}&amp;page={{ page.next_page_number }}">{% endif %}{% trans 'Next' %}&nbsp;&raquo;{% if page.has_next %}</a>{% endif %}
      </p>
    {% endif %}

  {% else %}
    <p>
	{% if  'selected_facets' in request.GET.iterkeys %}
		{% blocktrans with filters=request.GET.selected_facets|join:" " %}No results were found for search query &ldquo;{{ query }}&rdquo; and filters {{ filters }}.{% endblocktrans %}
	{% else %}	
		{% blocktrans %}No results were found for search query &ldquo;{{ query }}&rdquo;.{% endblocktrans %}
	{% endif %}</p>
  {% endif %}

</div>
{% endspaceless %}
{% endblock %}
