{% load replace %}
{% load humanize %}
{% load i18n %}

{% spaceless %}

    <label class='title'>{% trans 'Eurovoc Classification' %}</label>
    <div class="dataline">
        {% for key, value in classifications.items %}
            {% if "classification" in key %}
                {% for key1, value1 in value.items %}
                    {% if "Size_per" in key1 %}
                        <div class="indented">
                            <label>
                                <strong>{% trans 'Size' %}: </strong>{{ value1.Size|intcomma }} {{ value1.Size_unit }}
                            </label>
                        </div>
                    {% else %}
                        {% if key1 != "Subject___Topic" and key1 != "Conformance_to_classification_scheme"%}
                        <div class="indented">
                            <label>
                                <strong>{{ key1|rep }}:</strong> {{ value1 }}
                            </label>
                        </div>
                        {% endif %}
                    {% endif %}

                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>

{% endspaceless %}
