{% load replace %}
{% load humanize %}
{% load i18n %}
{% spaceless %}
    <label class='component'>Distribution</label>
    {% if distribution.Distribution.Availability %}
        <div class="dataline indented">
            <label>
                <strong>Availability: </strong>{{ distribution.Distribution.Availability }}
            </label>
        </div>
    {% endif %}

    {% if distribution.Distribution.Availability_start_date %}
        <div class="dataline indented">
            <label>
                <strong>Availability Start
                    date: </strong>{{ distribution.Distribution.Availability_start_date|date:"SHORT_DATE_FORMAT" }}
            </label>
        </div>
    {% endif %}

    {% if distribution.Distribution.Availability_end_date %}
        <div class="dataline indented">
            <label>
                <strong>Availability End
                    Date: </strong>{{ distribution.Distribution.Availability_end_date|date:"SHORT_DATE_FORMAT" }}
            </label>
        </div>
    {% endif %}

    {% if "Licences" in distribution.Distribution %}
        <label class="title">Licences</label>
        {% for key, value in distribution.Distribution.items %}
            {% if "Licence" in key %}
                {% include "repository/resource_view/licence.html" with licence=value %}
            {% endif %}
        {% endfor %}

    {% endif %}

    <label {% if count > 1 %}style="cursor: pointer" onclick="$(this).next().filter('.collapse').slideToggle(300)"
           class="title collapse">{% trans 'Distribution Details' %} ...</label> {% else %} class="title collapse">{% trans 'Distribution Details' %}</label>{% endif %}
    <div {% if count > 1 %}class="collapse" style="display: none;"{% endif %}>
        {% for key1, value1 in distribution.Distribution.items %}
            {% if "Distribution_medium" in key1 %}
                <div class="dataline indented">
                    <label>
                        <strong>{% trans 'Distribution Medium' %}: </strong>{{ value1 }}
                    </label>
                </div>
            {% endif %}

            {% if "Download_location" in key1 %}
                <div class="dataline indented">
                    <label>
                        <strong>{% if ", " in value1 %}{trans 'Download locations' %}{% else %}{%trans 'Download location' %}{% endif %}: </strong>
                        {{ value1|urlizetrunc:23 }}
                    </label>
                </div>
            {% endif %}

            {% if "Execution_location" in key1 %}
                <div class="dataline indented">
                    <label>
                        <strong>{% if ", " in value1 %}{% trans 'Execution locations' %}{% else %}{% trans 'Execution location' %}{% endif %}: </strong>
                        {{ value1|urlizetrunc:23 }}{# value1|urlizetrunc:23 #}
                    </label>
                </div>
            {% endif %}

            {% if "Fee" in key1 %}
                <div class="dataline indented">
                    <label>
                        <strong>{% trans 'Fee' %}: </strong>{{ value1|intcomma }}
                    </label>
                </div>
            {% endif %}

            {% if "Attribution" in key1 %}
                <div class="dataline indented">
                    <label>
                        <strong>{% trans 'Attribution Details' %}: </strong>{{ value1 }}
                    </label>
                </div>
            {% endif %}

        {% endfor %}
        {% if distribution.Distribution.Distribution_rights_holder %}
            <div class="dataline">
                <label class="dataline indented"><strong>{% trans 'Distribution Rights Holders' %}:</strong></label>
                {% for key, value in distribution.Distribution.items %}
                    {% if "Distribution_rights_holder" in key %}
                        {% include "repository/resource_view/person.html" with person_dict=value.Distribution_rights_holder type="Distribution_rights_holder" %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        {% if distribution.Distribution.IPR_holder %}
            <div class="dataline">
                <label class="dataline indented"><strong>{% trans 'IPR Holders' %}</strong></label>
                {% for key, value in distribution.Distribution.items %}
                    {% if "IPR_holder" in key %}
                        <div class="indented">
                        {% include "repository/resource_view/person.html" with person_dict=value.IPR_holder type="IPR Holder" %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        {% if distribution.Distribution.Personal_data_included %}
            <div class="dataline">
                {% if distribution.Distribution.Personal_data_included  == "True" %}

                    <label class="dataline indented"><strong>
                    {% trans 'Personal Data' %}:
                </strong> {% trans 'YES' %}</label>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endspaceless %}
