{% spaceless %}
{% load i18n %}
<label class='title'>{% trans 'Linguality' %}</label>
{% if linguality.Linguality_type %}
	 <div class="dataline indented">
		<label>
			<strong>{% trans 'Linguality type' %}:</strong> {{ linguality.Linguality_type }}
		</label>
	</div>
{% endif %}

{% if linguality.Multilinguality_type %}
	 <div class="dataline indented">
		<label>
			<strong>{% trans 'Multi-linguality type' %}:</strong> {{ linguality.Multilinguality_type }} {% if linguality.Multilinguality_type_details %} ({{ linguality.Multilinguality_type_details }}) {% endif %}
		</label>
	</div>
{% endif %}

{% endspaceless %}
