{% spaceless %}
{% load i18n %}

<label class='title'>{% trans 'Setting' %}</label>
{% for key, value in setting.items %}	
	{% if "Naturality" in value %}
		 <div class="dataline indented">
			<label>
				<strong>{% trans 'Naturality' %}:</strong> {{ value.Naturality }}
			</label>
		</div>
	{% endif %}
	{% if "Conversational_type" in value %}
		 <div class="dataline indented">
			<label>
				<strong>{% trans 'Conversational type' %}:</strong> {{ value.Conversational_type }}
			</label>
		</div>
	{% endif %}

	{% if "Scenario_type" in value %}
		 <div class="dataline indented">
			<label>
				<strong>{% trans 'Scenario' %}:</strong> {{ value.Scenario_type }}
			</label>
		</div>
	{% endif %}
	
	{% if "Audience" in value %}
		 <div class="dataline indented">
			<label>
				<strong>{% trans 'Audience' %}:</strong> {{ value.Audience }}
			</label>
		</div>
	{% endif %}

	{% if "Interactivity" in value %}
		 <div class="dataline indented">
			<label>
				<strong>{% trans 'Interactivity' %}:</strong> {{ value.Interactivity }}
			</label>
		</div>
	{% endif %}
	
	{% if "Interaction" in value %}
		 <div class="dataline indented">
			<label>
				<strong>{% trans 'Interaction' %}:</strong> {{ value.Interaction }}
			</label>
		</div>
	{% endif %}
	
{% endfor %}

{% endspaceless %}
