{% load i18n %}

<label class='component'>{% trans 'Version' %}</label>
<div>
		 <div class="dataline">
			<label>
				<strong>{% trans 'Version' %}: </strong>{{ version_dict.Version.Version }}
			</label>
		</div>
		
		{% if version_dict.Version.Revision %}			
			 <div class="dataline">
				<label>
					<strong>{% trans 'Revision' %}: </strong>{{ version_dict.Version.Revision }}
				</label>
			</div>
		{% endif %}
		
		{% if version_dict.Version.Last_date_updated %}			
			 <div class="dataline">
				<label>
					<strong>{% trans 'Last Updated' %}: </strong>{{ version_dict.Version.Last_date_updated|date:"SHORT_DATE_FORMAT" }}
				</label>
			</div>
		{% endif %}
		
		{% if version_dict.Version.Update_frequency %}			
		 	<div class="dataline">
				<label>
					<strong>{% trans 'Update Frequency' %}: </strong>{{ version_dict.Version.Update_frequency }}
				</label>
			</div>
		{% endif %}		
</div>
